<header>
    <app-header></app-header>
</header>
<div class="py-4">
    <div class="container">
        <div class="row">
            <!-- Main Content -->
            <main class="col col-xl-9 order-xl-2 col-lg-12 order-lg-1 col-md-12 col-sm-12 col-12">
                <div class="box shadow-sm border rounded bg-white mb-3 osahan-share-post">
                    <h5 class="pl-3 pt-3 pr-3 border-bottom mb-0 pb-3">
                        <div class=" row">
                            <span class="col-lg-6">Make a record of your portfolio</span>
                            <span class="col-lg-6 justify-content-end d-flex">
                <button type="button" class="btn btn-outline-primary btn-sm" routerLink="/cv"> Generate my CV </button>
              </span>
                        </div>
                    </h5>
                    <ul class="nav border-bottom osahan-line-tab" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="exp-tab" data-toggle="tab" href="#exp" role="tab" aria-controls="home" aria-selected="true">Experiences</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="ptrain-tab" data-toggle="tab" href="#ptrain" role="tab" aria-controls="contact" aria-selected="false">Trainings</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="realisation-tab" data-toggle="tab" href="#realisation" role="tab" aria-controls="contact" aria-selected="false">Realisations</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="skills-tab" data-toggle="tab" href="#skills" role="tab" aria-controls="profile" aria-selected="false">Skills</a>
                        </li>


                        <li class="nav-item">
                            <a class="nav-link" id="lang-tab" data-toggle="tab" href="#lang" role="tab" aria-controls="type" aria-selected="false">Languages</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="exp" role="tabpanel" aria-labelledby="exp-tab">
                            <app-record-experiences></app-record-experiences>
                        </div>
                        <div class="tab-pane fade" id="skills" role="tabpanel" aria-labelledby="skills-tab">
                            <app-record-skills> </app-record-skills>
                        </div>
                        <div class="tab-pane fade" id="ptrain" role="tabpanel" aria-labelledby="ptrain-tab">
                            <app-record-pro-train></app-record-pro-train>
                        </div>
                        <div class="tab-pane fade" id="realisation" role="tabpanel" aria-labelledby="realisation-tab">
                            <app-record-realisation></app-record-realisation>
                        </div>
                        <div class="tab-pane fade" id="lang" role="tabpanel" aria-labelledby="lang-tab">
                            <app-record-languages></app-record-languages>
                        </div>
                    </div>
                </div>
            </main>
            <aside class="col col-xl-3 order-xl-2 col-lg-12 order-lg-2 col-12">
                <div class="box mb-3 shadow-sm border rounded bg-white list-sidebar">
                    <div class="box-title p-3">
                        <h6 class="m-0">Manage my CV</h6>
                    </div>
                    <ul class="list-group list-group-flush">
                        <a href="#">
                            <li class="list-group-item pl-3 pr-3 d-flex align-items-center text-dark"><i class="feather-book mr-2 text-dark"></i> Experiences <span class="ml-auto font-weight-bold">{{nbreExp}}</span></li>
                        </a>
                        <a href="#">
                            <li class="list-group-item pl-3 pr-3 d-flex align-items-center text-dark"><i class="feather-book mr-2 text-dark"></i> Skills <span class="ml-auto font-weight-bold">{{nbreSkill}}</span></li>
                        </a>
                        <a href="#">
                            <li class="list-group-item pl-3 pr-3 d-flex align-items-center text-dark"><i class="feather-user-check mr-2 text-dark"></i> Academic tranings <span class="ml-auto font-weight-bold">{{nbreAccTrain}}</span></li>
                        </a>
                        <a href="#">
                            <li class="list-group-item pl-3 pr-3 d-flex align-items-center text-dark"><i class="feather-user-check mr-2 text-dark"></i> Professional tranings <span class="ml-auto font-weight-bold">{{nbreProTrain}}</span></li>
                        </a>
                        <a href="#">
                            <li class="list-group-item pl-3 pr-3 d-flex align-items-center text-dark"><i class="feather-clipboard mr-2 text-dark"></i> Languages <span class="ml-auto font-weight-bold">{{nbreLng}}</span></li>
                        </a>
                    </ul>
                </div>
                <app-rib-solutions></app-rib-solutions>
                <div class="box shadow-sm mb-3 border rounded bg-white ads-box text-center">
                    <div class="image-overlap-2 pt-4">
                        <img src="../../assets/img/l4.png" class="img-fluid rounded-circle shadow-sm" alt="Responsive image">
                        <img src="../../assets/img/user.png" class="img-fluid rounded-circle shadow-sm" alt="Responsive image">
                    </div>
                    <div class="p-3 border-bottom">
                        <h6 class="text-dark">Gurdeep, grow your career by following <span class="font-weight-bold"> Google</span>
                        </h6>
                        <p class="mb-0 text-muted">Stay up-to industry trends!</p>
                    </div>
                    <div class="p-3">
                        <button type="button" class="btn btn-outline-primary btn-sm pl-4 pr-4"> FOLLOW </button>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</div>
<footer>
</footer>
