<div class="row">
    <div class="col-md-4" *ngFor="let item of users | async">
        <app-friend-suggestion-item [iduser]="item.id"></app-friend-suggestion-item>
    </div>
</div>
<div *ngIf="(users | async)?.length === 0">
    <span class="d-flex justify-content-center" style="padding-top: 5%;">
<img src="../../../../assets/imgs/friends.png" style="width: 40%;">
</span>
    <span class="d-flex justify-content-center" style="padding-top: 5%;">
<h5>No suggestion yet, complete your profile to have more proposals</h5>
</span>
</div>