<!-- D2: modal migrated from Bootstrap data-toggle="modal" to NgbModal. -->
<button class="btn btn-outline-primary btn-sm mr-1" (click)="openCertify(certifyTpl)">Certify</button>

<ng-template #certifyTpl let-modal>
  <div class="box shadow-sm border rounded bg-white mb-3">
    <div class="box-title border-bottom p-3 d-flex align-items-center">
      <h6 class="m-0">Certification content</h6>
      <button type="button" class="btn-close ml-auto" aria-label="Close" (click)="modal.dismiss()">&times;</button>
    </div>
    <div class="box-body p-3">
      <form>
        <label>Please Rate his/her level on this?</label><br>
        <app-rate [currentRate]="0" (rateChanged)="ratechnged($event)"></app-rate>
        <br>
        <div class="form-group">
          <label class="mb-1">Certification key</label>
          <div class="position-relative icon-form-control">
            <i class="feather-pocket position-absolute"></i>
            <input type="text" name="key" class="form-control" placeholder="Please enter your certification key">
          </div>
        </div>
        <div class="form-group">
          <label class="mb-1">Any observation?</label>
          <div class="position-relative">
            <textarea type="text" name="observation" class="form-control" placeholder="Leave a comment about this content"></textarea>
          </div>
        </div>
        <button class="btn btn-primary btn-block text-uppercase" type="button" (click)="modal.close('certify')"> I Agree & CERTIFY </button>
      </form>
    </div>
  </div>
</ng-template>
