<<<<<<< HEAD
.star {
  font-size: 1.5rem;
  color: #b0c4de;
}
.filled {
  color: #1e90ff;
}

.filled.bad {
  color: #ff1e1e;
}
.filled.notbad {
  color: #ff9e1e;
}
.filled.good {
  color: #057c8b;
}
=======
.star {
  font-size: 1.5rem;
  color: #b0c4de;
}
.filled {
  color: #1e90ff;
}

.filled.bad {
  color: #ff1e1e;
}
.filled.notbad {
  color: #ff9e1e;
}
.filled.good {
  color: #057c8b;
}
>>>>>>> b5446b2a5deb6a99c0106b8227a23d0ad7d05dbe
