<button class="btn btn-outline-primary btn-sm mr-1" data-toggle="modal" data-target="#exampleModalLong">Certify</button>

<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
     <div class="modal-content">
      <div class="box shadow-sm border rounded bg-white mb-3">
         <div class="box-title border-bottom p-3">
            <h6 class="m-0">Certification content
            </h6>
         </div>
         <div class="box-body p-3">

           <form action="index.html">
             <label>
               Please Rate his/her level on this?
             </label><br>
             <app-rate [currentRate]="0" (rateChanged) = "ratechnged($event)" ></app-rate>
             <br>
                   <div class="form-group">
                      <label class="mb-1">Certification key</label>
                      <div class="position-relative icon-form-control">
                         <i class="feather-pocket position-absolute"></i>
                         <input type="text"  name="key" class="form-control" placeholder="Please enter your certification key">
                      </div>
                   </div>
                   <div class="form-group">
                     <label class="mb-1">Any observation?</label>
                     <div class="position-relative ">
                        <textarea type="text" name="observation" name="key" class="form-control" placeholder="Leave a comment about this content"></textarea>
                     </div>
                  </div>

             <button class="btn btn-primary btn-block text-uppercase" type="submit"> I Agree & CERTIFY </button>

          </form>
         </div>
       </div>
     </div>
   </div>
 </div>
