<!DOCTYPE html  *ngIf="currentUser">
<!--[if IE 7]><html class="no-js ie7 oldie" lang="en-US"> <![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" lang="en-US"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en">

<header>
    <app-header></app-header>
</header>

<body *ngIf="currentUser" style="background-color: #161616;">
    <!-- Start Container-->
    <div class="container">
        <!-- row -->
        <div class="row" #pdfTable>
            <!-- =========================================
                           SIDEBAR
            ==========================================-->
            <!-- Start Sidebar -->
            <aside class="col-lg-4 sidebar z-depth-1" id="sidebar">
                <!--  Sidebar row -->
                <div class="row">
                    <!--  top section   -->
                    <div class="row" style="margin-left: 2%;">
                        <div class="feature-img d-flex justify-content-center col-lg-4">
                            <a><img src="{{currentUser.imageprofil}}" style="width: 100% !important; border-radius: 50%;" class="responsive-img" alt="profile"></a>
                        </div>

                        <div class=" col-lg-8" style="margin-top: -5%;">
                            <h3 style="color: yellow !important;">{{currentUser.prenom}} {{currentUser.nom}}</h3>
                            <!-- title name -->
                            <h5 style="margin-top: -7% !important;">{{currentUser.poste}} <span *ngIf="currentUser.lieu != null">at</span> {{currentUser?.lieu}}</h5>
                            <!-- tagline -->
                        </div>
                    </div>
                    <!-- sidebar info -->
                    <div class="col-lg-12 sort-info sidebar-item">
                        <div class="row">
                            <div class="col-lg-3 icon">
                                <!-- icon -->
                                <i class="fa fa-user"></i>
                            </div>
                            <div class="col-lg-9 info wow fadeIn a1" data-wow-delay="0.1s">
                                <!-- text -->
                                <div class="section-item-details">
                                    <p style="color: white;">{{currentUser.accroche}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- MOBILE NUMBER -->
                    <div class="col-lg-12   mobile sidebar-item">
                        <div class="row">
                            <div class="col-lg-3 icon">
                                <i class="fa fa-phone"></i>
                                <!-- icon -->
                            </div>
                            <div class="col-lg-9 info wow fadeIn a2" data-wow-delay="0.2s">
                                <div class="section-item-details">
                                    <div class="personal">
                                        <h4><a href="tel:555-555-5555">{{currentUser.telephone}}</a></h4>
                                        <!-- Number -->
                                        <span>mobile</span>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!--  EMAIL -->
                    <div class="col-lg-12   email sidebar-item ">
                        <div class="row">
                            <div class="col-lg-3 icon">
                                <i class="fa fa-envelope"></i>
                                <!-- icon -->
                            </div>
                            <div class="col-lg-9 info wow fadeIn a3" data-wow-delay="0.3s">
                                <div class="section-item-details">
                                    <div class="personal">
                                        <h4><a href="mailto:someone@example.com">{{currentUser.email}}</a></h4>
                                        <!-- Email -->
                                        <span>personal</span>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ADDRESS  -->

                    <div class="col-lg-12   skills sidebar-item">
                        <div class="row">
                            <div class="col-lg-3 m12 s12 icon">
                                <i class="fa fa-language"></i>
                                <!-- icon -->
                            </div>
                            <!-- Skills -->
                            <div class="col-lg-9 m12 s12 skill-line a5 wow fadeIn" data-wow-delay="0.5s">
                                <h3 style="color: white !important;">Languages</h3>

                                <div *ngFor="let it of langues">
                                    <h4 style="font-weight: bold; color: white;">{{it.libele}}</h4>

                                    <ul style="margin-top: -0.5% !important; color: white !important;">
                                        <li style="color: white;">Reading : {{it.niveauLu}} ({{LangLevels.get(it.niveauLu)}}) </li>
                                        <li style="color: white;">Speaking : {{it.niveauParle}} ({{LangLevels.get(it.niveauParle)}})</li>
                                        <li style="color: white;">Writing : {{it.niveauEcrit}} ({{LangLevels.get(it.niveauEcrit)}})</li>
                                    </ul>
                                </div>

                                <div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- SKILLS -->
                    <div class="col-lg-12   skills sidebar-item">
                        <div class="row">
                            <div class="col-lg-3 m12 s12 icon">
                                <i class="fa fa-calendar-o"></i>
                                <!-- icon -->
                            </div>
                            <!-- Skills -->
                            <div class="col-lg-9 m12 s12 skill-line a5 wow fadeIn" data-wow-delay="0.5s">
                                <h3 style="color: white;">Skills </h3>


                                <div *ngFor="let skil of skills">
                                    <span>{{skil?.skillName}} ({{skil?.skillStringValue}})</span>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end row -->
            </aside>
            <!-- end sidebar -->

            <!-- =========================================
                   Work experiences
                ==========================================-->
            <!-- Project-->
            <div class="col-lg-8 s12 m12" style="margin-top:-1.5%;">
                <section class="section">
                    <div class="row">
                        <div class="row section-wrapper z-depth-1" style="width: 100%;">
                            <div class="section-icon col-lg-2 s12 m12">
                                <i class="fa fa-suitcase"></i>
                            </div>
                            <div class="custom-content col-lg-10 s12 m12 wow fadeIn a1" data-wow-delay="0.1s">
                                <h2>Work Experience</h2>
                                <hr>
                                <div>
                                    <div *ngFor="let item of items" class="custom-content-wrapper wow fadeIn a2" data-wow-delay="0.2s">
                                        <h3>{{item?.libelle}} <span>@{{item?.entreprise}}</span></h3>
                                        <span>({{item?.debut | date : 'short'}} - {{item?.fin | date : 'short'}}) </span>
                                        <p>{{item?.description}}</p>
                                    </div>
                                </div>



                            </div>
                        </div>

                        <!-- ========================================
                         Education
                        ==========================================-->

                        <div class="row section-wrapper z-depth-1" style="width: 100%;">
                            <div class="section-icon col-lg-2 s12 m12">
                                <i class="fa fa-graduation-cap"></i>
                            </div>
                            <div class="custom-content col-lg-10 s12 m12 wow fadeIn a1" data-wow-delay="0.1s">
                                <h2>Educational Training </h2>
                                <hr>
                                <div *ngIf="accformationList">
                                    <div *ngFor="let f of accformationList" class="custom-content-wrapper wow fadeIn a2" data-wow-delay="0.2s">
                                        <h3>{{f.libelle}}<span>@{{f.etablissement}}</span></h3>
                                        <span>{{f.datedeb}} - {{f.datefin}}</span>
                                        <p>{{f.description}} </p>
                                    </div>
                                </div>
                                <div *ngIf="!accformationList">
                                    <div class="custom-content-wrapper wow fadeIn a2" data-wow-delay="0.2s">
                                        <h3>Bot<span>@RichBlok</span></h3>
                                        <span></span>
                                        <p>No traning to display </p>
                                    </div>

                                </div>

                            </div>
                        </div>
                        <div class="row section-wrapper z-depth-1" style="width: 100%;">
                            <div class="section-icon col-lg-2 s12 m12">
                                <i class="fa fa-graduation-cap"></i>
                            </div>
                            <div class="custom-content col-lg-10 s12 m12 wow fadeIn a1" data-wow-delay="0.1s">
                                <h2>Professional Training </h2>
                                <hr>
                                <div *ngIf="proformationList">
                                    <div *ngFor="let f of proformationList" class="custom-content-wrapper wow fadeIn a2" data-wow-delay="0.2s">
                                        <h3>{{f.libelle}}<span>@{{f.etablissement}}</span></h3>
                                        <span>{{f.datedeb}} - {{f.datefin}}</span>
                                        <p>{{f.description}} </p>
                                    </div>
                                </div>
                                <div *ngIf="!proformationList">
                                    <div class="custom-content-wrapper wow fadeIn a2" data-wow-delay="0.2s">
                                        <h3>Bot<span>@RichBlok</span></h3>
                                        <span></span>
                                        <p>No traning to display </p>
                                    </div>

                                </div>

                            </div>
                        </div>
                        <div class="row section-wrapper z-depth-1" style="width: 100%;">
                            <div class="section-icon col-lg-2 s12 m12">
                                <i class="fa fa-archive"></i>
                            </div>
                            <div class="custom-content col-lg-10 s12 m12 wow fadeIn a1" data-wow-delay="0.1s">
                                <h2>Realisations </h2>
                                <hr>

                                <div *ngFor="let r of realisation" class="custom-content-wrapper wow fadeIn a2" data-wow-delay="0.2s">
                                    <h3>{{r?.nom}}</h3>
                                    <span>{{r?.datedeb}} - {{r?.datefin}}</span>
                                    <p>{{r?.description}} </p>
                                </div>

                            </div>
                        </div>
                        <div class="d-flex justify-content-end">
                            <button class="btn btn-primary" (click)="downloadPDF()">Print</button>

                        </div>



                    </div>
                    <!-- end row -->
                </section>
            </div>
            <!-- end section -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->

    <script src="../../assets/cv/js/jquery.min.js"></script>

    <!-- materialize js-->
    <script src="../../assets/cv/js/materialize.min.js"></script>

    <!-- wow js-->
    <script src="../../assets/cv/js/wow.min.js"></script>

    <!-- Map api -->
    <script src="../../http://maps.googleapis.com/maps/api/js?v=3.exp"></script>

    <!-- Masonry js-->
    <script src="../../assets/cv/js/masonry.pkgd.js"></script>

    <script src="../../assets/cv/js/validator.min.js"></script>

    <!-- Customized js -->
    <script src="../../assets/cv/js/init.js"></script>

    <!-- =========================================================
            STYLE SWITCHER | ONLY FOR DEMO NOT INCLUDED IN MAIN FILES
        ===========================================================-->

    <!-- Style switter js -->
    <script src="../../assets/cv/js/styleswitcher.js"></script>

</body>
<footer>
    <app-footer></app-footer>
</footer>

</html>