<div class="box shadow-sm border rounded bg-white mb-3">
  <div class="box-title border-bottom p-3">
     <h6 class="m-0 row">
       <span class="col-lg-6">
        <span *ngIf="!form">
          Accademic Trainings
        </span>
        <span *ngIf="form">
          Add a train
        </span>
       </span>
       <span class="ml-auto col-lg-6 d-flex justify-content-end">
         <button type="button" class="btn btn-light btn-sm" *ngIf="!form" (click)="showForm()"><i class="feather-plus"></i></button>
         <button type="button" class="btn btn-light btn-sm" *ngIf="form" (click)="hideForm()"><i class="feather-x"></i></button>

        </span>
     </h6>
     <div style="padding-top: 2% !important;">
      <app-record-acc-train-form *ngIf="form" ></app-record-acc-train-form>

     </div>
  </div>

 <app-record-acc-train-item  *ngIf="!form"></app-record-acc-train-item>
</div>
