<div id="#bottom-footer" class="py-4 bg-dark text-white-50 row col">
    <div class="container col-lg-6">
        &nbsp;&nbsp;&nbsp;<small>© RichBlok Inc. 2020 all rights reserved</small>
    </div>
    <div class="container col-lg-6 d-flex justify-content-end">
        <small><a href="terms">Terms and Condition </a></small>&nbsp;&nbsp;&nbsp;
        <small><a href="policy"> Privacy & Policy </a></small>&nbsp;&nbsp;&nbsp;
        <small><a href="help"> Help </a></small>&nbsp;&nbsp;&nbsp;
        <small><a> FAQs </a></small>&nbsp;&nbsp;&nbsp;
        <small><a href="contact"> Contact </a></small>&nbsp;&nbsp;&nbsp;

    </div>
</div>