<body>
    <div class="bg-white">
        <div class="container">
            <div class="row justify-content-center align-items-center d-flex vh-100">
                <div class="col-md-4 mx-auto">
                    <div class="osahan-login py-4">
                        <div class="text-center mb-4">
                            <a href=""><img src="/assets/img/log.png" alt="" style="max-height: 100px;" onerror="this.src='/assets/rb/avatar-default.svg'"></a>
                            <h5 class="font-weight-bold mt-3">{{ i18n.t('signin_title') }}</h5>
                            <p class="text-muted">{{ i18n.t('signin_sub') }}</p>
                        </div>
                        <label *ngIf="errorMessage" class="mb-1 d-block" style="color: red!important;">{{errorMessage}}</label>
                        <label *ngIf="successMessage" class="mb-1 d-block" style="color: green!important;">{{successMessage}}</label>
                        <form #loginForm="ngForm" (ngSubmit)="login()">
                            <div class="form-group">
                                <label class="mb-1">{{ i18n.t('signin_email') }}</label>
                                <div class="position-relative icon-form-control">
                                    <i class="feather-user position-absolute"></i>
                                    <input required type="email" name="email" class="form-control" [(ngModel)]="mail">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="mb-1">{{ i18n.t('signin_password') }}</label>
                                <div class="position-relative icon-form-control">
                                    <i class="fa position-absolute" [ngClass]="{
                            'fa-eye-slash': !fieldTextType,
                            'fa-eye': fieldTextType
                          }" (click)="toggleFieldTextType()"></i>
                                    <input required [type]="fieldTextType ? 'text' : 'password'" name="password" class="form-control" [(ngModel)]="pass">
                                </div>
                            </div>
                            <div class="custom-control custom-checkbox mb-3">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck1">{{ i18n.t('signin_remember') }}</label>
                            </div>
                            <button class="btn btn-primary btn-block text-uppercase" type="submit" [disabled]="loading">
                              <span *ngIf="!loading">{{ i18n.t('signin_submit') }}</span>
                              <span *ngIf="loading">{{ i18n.t('signin_loading') }}</span>
                            </button>
                            <div class="text-center mt-3 border-bottom pb-3">
                                <p class="small text-muted">{{ i18n.t('signin_or') }}</p>
                                <div class="row">
                                    <div class="col-12">
                                        <button type="button" class="btn btn-sm btn-outline-instagram btn-block" (click)="loginWithGoogle()"><i class="fe-google"></i> Google</button>
                                    </div>
                                </div>
                            </div>
                            <div class="py-3 d-flex align-item-center">
                                <a [routerLink]="['/forgot-password']">{{ i18n.t('signin_forgot') }}</a>
                                <span class="ml-auto"> {{ i18n.t('signin_new_q') }} <a class="font-weight-bold" [routerLink]="['/register']">{{ i18n.t('signin_new_join') }}</a></span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
