<header>
  <app-header></app-header>
</header>
<div class="py-5 bg-primary">
  <div class="container">
     <div class="row">
        <div class="col-md-8 mx-auto">
           <h1 class="text-white font-weight-light"><span class="font-weight-bold">Job offer</span> step 3 / Scoring</h1>
           <p class="mb-2 text-white-50"> You are on the right way. This step requires you to do the scoring of the pre-interviews for each participant, formulate the salary package and invitation to the final interviews
           </p>
        </div>
     </div>
  </div>
</div>
<div class="py-5">
  <div class="container">
     <div class="row">
        <div class="col-md-10 mx-auto">
          <div class="row">
            <div class="col-md-10 mx-auto">
               <div class="bg-white p-5 shadow-sm box border rounded">
                 <div class="row">
                  <div class="col-lg-6">
                    <h4>Pre-interview Scoring</h4>
                  </div>

                 </div>
                 <hr>
                <div class="row">
                  <div class="col-md-4">

                        <div class="border network-item rounded mb-3">
                           <div class="p-3 d-flex align-items-center network-item-header">
                              <div class="dropdown-list-image mr-3">
                                 <img class="rounded-circle" src="../../../assets/img/p1.png" alt="">
                              </div>
                              <div class="font-weight-bold">
                                 <h6 class="font-weight-bold text-dark mb-0">Sophia Lee</h6>
                                 <div class="small text-black-50 truncate">Photographer at Photography</div>
                              </div>
                           </div>
                           <div class="d-flex align-items-center p-3 border-top border-bottom network-item-body">

                              <span class="font-weight-bold small text-primary">Score : 98/100</span>
                           </div>
                           <div class="network-item-footer py-3 d-flex text-center">
                              <div class="col-6 pl-3 pr-1">
                                 <button type="button" class="btn btn-primary btn-sm btn-block"routerLink="/profile"> Verify </button>
                              </div>
                              <div class="col-6 pr-3 pl-1">
                                 <button type="button" class="btn btn-outline-primary btn-sm btn-block"data-toggle="modal" data-target="#interviewmodal"> <i class="feather-user-plus"></i> Invite </button>
                              </div>
                           </div>
                        </div>
                  </div>
                  <div class="col-md-4">

                        <div class="border network-item rounded mb-3">
                           <div class="p-3 d-flex align-items-center network-item-header">
                              <div class="dropdown-list-image mr-3">
                                 <img class="rounded-circle" src="../../../assets/img/p2.png" alt="">
                              </div>
                              <div class="font-weight-bold">
                                 <h6 class="font-weight-bold text-dark mb-0">John Doe</h6>
                                 <div class="small text-black-50 truncate">Traveler</div>
                              </div>
                           </div>
                           <div class="d-flex align-items-center p-3 border-top border-bottom network-item-body">

                              <span class="font-weight-bold small text-primary">Score : 98/100</span>
                           </div>
                           <div class="network-item-footer py-3 d-flex text-center">
                              <div class="col-6 pl-3 pr-1">
                                 <button type="button" class="btn btn-primary btn-sm btn-block"routerLink="/profile"> Verify </button>
                              </div>
                              <div class="col-6 pr-3 pl-1">
                                 <button type="button" class="btn btn-outline-primary btn-sm btn-block"data-toggle="modal" data-target="#interviewmodal"> <i class="feather-user-plus"></i> Invite </button>
                              </div>
                           </div>
                        </div>
                  </div>
                  <div class="col-md-4">

                        <div class="border network-item rounded mb-3">
                           <div class="p-3 d-flex align-items-center network-item-header">
                              <div class="dropdown-list-image mr-3">
                                 <img class="rounded-circle" src="../../../assets/img/p3.png" alt="">
                              </div>
                              <div class="font-weight-bold">
                                 <h6 class="font-weight-bold text-dark mb-0">Julia Cox</h6>
                                 <div class="small text-black-50 truncate">Art Designer</div>
                              </div>
                           </div>
                           <div class="d-flex align-items-center p-3 border-top border-bottom network-item-body">

                              <span class="font-weight-bold small text-primary">Score : 98/100</span>
                           </div>
                           <div class="network-item-footer py-3 d-flex text-center">
                              <div class="col-6 pl-3 pr-1">
                                 <button type="button" class="btn btn-primary btn-sm btn-block"routerLink="/profile"> Verify </button>
                              </div>
                              <div class="col-6 pr-3 pl-1">
                                 <button type="button" class="btn btn-outline-primary btn-sm btn-block"data-toggle="modal" data-target="#interviewmodal"> <i class="feather-user-plus"></i> Invite </button>
                              </div>
                           </div>
                        </div>
                  </div>
                  <div class="col-md-4">

                        <div class="border network-item rounded mb-3">
                           <div class="p-3 d-flex align-items-center network-item-header">
                              <div class="dropdown-list-image mr-3">
                                 <img class="rounded-circle" src="../../../assets/img/p4.png" alt="">
                              </div>
                              <div class="font-weight-bold">
                                 <h6 class="font-weight-bold text-dark mb-0">Robert Cook</h6>
                                 <div class="small text-black-50 truncate">Graphic Designer</div>
                              </div>
                           </div>
                           <div class="d-flex align-items-center p-3 border-top border-bottom network-item-body">

                              <span class="font-weight-bold small text-primary">Score : 98/100</span>
                           </div>
                           <div class="network-item-footer py-3 d-flex text-center">
                              <div class="col-6 pl-3 pr-1">
                                 <button type="button" class="btn btn-primary btn-sm btn-block"routerLink="/profile"> Verify </button>
                              </div>
                              <div class="col-6 pr-3 pl-1">
                                 <button type="button" class="btn btn-outline-primary btn-sm btn-block"data-toggle="modal" data-target="#interviewmodal"> <i class="feather-user-plus"></i> Invite </button>
                              </div>
                           </div>
                        </div>
                  </div>
                  <div class="col-md-4">

                        <div class="border network-item rounded mb-3">
                           <div class="p-3 d-flex align-items-center network-item-header">
                              <div class="dropdown-list-image mr-3">
                                 <img class="rounded-circle" src="../../../assets/img/p5.png" alt="">
                              </div>
                              <div class="font-weight-bold">
                                 <h6 class="font-weight-bold text-dark mb-0">Stella Bergmann</h6>
                                 <div class="small text-black-50 truncate">Photography</div>
                              </div>
                           </div>
                           <div class="d-flex align-items-center p-3 border-top border-bottom network-item-body">

                              <span class="font-weight-bold small text-primary">Score : 98/100</span>
                           </div>
                           <div class="network-item-footer py-3 d-flex text-center">
                              <div class="col-6 pl-3 pr-1">
                                 <button type="button" class="btn btn-primary btn-sm btn-block"routerLink="/profile"> Verify </button>
                              </div>
                              <div class="col-6 pr-3 pl-1">
                                 <button type="button" class="btn btn-outline-primary btn-sm btn-block"data-toggle="modal" data-target="#interviewmodal"> <i class="feather-user-plus"></i> Invite </button>
                              </div>
                           </div>
                        </div>
                  </div>
                  <div class="col-md-4">

                        <div class="border network-item rounded mb-3">
                           <div class="p-3 d-flex align-items-center network-item-header">
                              <div class="dropdown-list-image mr-3">
                                 <img class="rounded-circle" src="../../../assets/img/p6.png" alt="">
                              </div>
                              <div class="font-weight-bold">
                                 <h6 class="font-weight-bold text-dark mb-0">Dan Walker</h6>
                                 <div class="small text-black-50 truncate">UI/UX Designer</div>
                              </div>
                           </div>
                           <div class="d-flex align-items-center p-3 border-top border-bottom network-item-body">

                              <span class="font-weight-bold small text-primary">Score : 98/100</span>
                           </div>
                           <div class="network-item-footer py-3 d-flex text-center">
                              <div class="col-6 pl-3 pr-1">
                                 <button type="button" class="btn btn-primary btn-sm btn-block"routerLink="/profile"> Verify </button>
                              </div>
                              <div class="col-6 pr-3 pl-1">
                                 <button type="button" class="btn btn-outline-primary btn-sm btn-block"data-toggle="modal" data-target="#interviewmodal"> <i class="feather-user-plus"></i> Invite </button>
                              </div>
                           </div>
                        </div>
                  </div>
                  <div class="col-md-4">

                        <div class="border network-item rounded mb-3">
                           <div class="p-3 d-flex align-items-center network-item-header">
                              <div class="dropdown-list-image mr-3">
                                 <img class="rounded-circle" src="../../../assets/img/p7.png" alt="">
                              </div>
                              <div class="font-weight-bold">
                                 <h6 class="font-weight-bold text-dark mb-0">Julia Cox</h6>
                                 <div class="small text-black-50 truncate">Art Designer</div>
                              </div>
                           </div>
                           <div class="d-flex align-items-center p-3 border-top border-bottom network-item-body">

                              <span class="font-weight-bold small text-primary">Score : 98/100</span>
                           </div>
                           <div class="network-item-footer py-3 d-flex text-center">
                              <div class="col-6 pl-3 pr-1">
                                 <button type="button" class="btn btn-primary btn-sm btn-block"routerLink="/profile"> Verify </button>
                              </div>
                              <div class="col-6 pr-3 pl-1">
                                 <button type="button" class="btn btn-outline-primary btn-sm btn-block"data-toggle="modal" data-target="#interviewmodal"> <i class="feather-user-plus"></i> Invite </button>
                              </div>
                           </div>
                        </div>
                  </div>
                  <div class="col-md-4">

                        <div class="border network-item rounded mb-3">
                           <div class="p-3 d-flex align-items-center network-item-header">
                              <div class="dropdown-list-image mr-3">
                                 <img class="rounded-circle" src="../../../assets/img/p8.png" alt="">
                              </div>
                              <div class="font-weight-bold">
                                 <h6 class="font-weight-bold text-dark mb-0">Robert Cook</h6>
                                 <div class="small text-black-50 truncate">Graphic Designer</div>
                              </div>
                           </div>
                           <div class="d-flex align-items-center p-3 border-top border-bottom network-item-body">

                              <span class="font-weight-bold small text-primary">Score : 98/100</span>
                           </div>
                           <div class="network-item-footer py-3 d-flex text-center">
                              <div class="col-6 pl-3 pr-1">
                                 <button type="button" class="btn btn-primary btn-sm btn-block"routerLink="/profile"> Verify </button>
                              </div>
                              <div class="col-6 pr-3 pl-1">
                                 <button type="button" class="btn btn-outline-primary btn-sm btn-block"data-toggle="modal" data-target="#interviewmodal"> <i class="feather-user-plus"></i> Invite </button>
                              </div>
                           </div>
                        </div>
                  </div>
                  <div class="col-md-4">

                        <div class="border network-item rounded mb-3">
                           <div class="p-3 d-flex align-items-center network-item-header">
                              <div class="dropdown-list-image mr-3">
                                 <img class="rounded-circle" src="../../../assets/img/p9.png" alt="">
                              </div>
                              <div class="font-weight-bold">
                                 <h6 class="font-weight-bold text-dark mb-0">Stella Bergmann</h6>
                                 <div class="small text-black-50 truncate">Photography</div>
                              </div>
                           </div>
                           <div class="d-flex align-items-center p-3 border-top border-bottom network-item-body">

                              <span class="font-weight-bold small text-primary">Score : 98/100</span>
                           </div>
                           <div class="network-item-footer py-3 d-flex text-center">
                              <div class="col-6 pl-3 pr-1">
                                 <button type="button" class="btn btn-primary btn-sm btn-block"routerLink="/profile"> Verify </button>
                              </div>
                              <div class="col-6 pr-3 pl-1">
                                 <button type="button" class="btn btn-outline-primary btn-sm btn-block"data-toggle="modal" data-target="#interviewmodal"> <i class="feather-user-plus"></i> Invite </button>
                              </div>
                           </div>
                        </div>
                  </div>
               </div>
               </div>
            </div>
         </div>
        </div>
     </div>
  </div>
</div>
<footer>
  <app-footer></app-footer>
</footer>
