<div class="box shadow-sm mb-3 border rounded bg-white ads-box text-center">
    <div class="image-overlap-2 pt-4">
        <img src="../../assets/img/user.png " class="img-fluid rounded-circle shadow-sm">
        <img src="{{currentUser.imageprofil}}" class="img-fluid rounded-circle shadow-sm">
    </div>
    <div class="p-3 border-bottom">
        <h6 class="text-dark">{{currentUser.nom}}, grow your career by following <span class="font-weight-bold"> Google</span>
        </h6>
        <p class="mb-0 text-muted">Stay up-to organisation trends!</p>
    </div>
    <div class="p-3">
        <button type="button" class="btn btn-outline-primary btn-sm pl-4 pr-4"> FOLLOW </button>
    </div>
</div>
