<header>
  <app-header></app-header>
</header>
<div class="py-4">
  <div class="container">
     <div class="row">
        <!-- Main Content -->
        <aside class="col-md-4">
           <div class="mb-3 border rounded bg-white profile-box text-center w-10">
              <div class="p-4 d-flex align-items-center">
                 <img src="{{currentorg.logo}}" class="img-fluid rounded-circle" alt="Responsive image">
                 <div class="p-4">
                    <label data-toggle="tooltip" data-placement="top" data-original-title="Upload New Picture" class="btn btn-info m-0" for="fileAttachmentBtn">
                    <i class="feather-image"></i>
                    <input id="fileAttachmentBtn" name="file-attachment" type="file" class="d-none">
                    </label> &nbsp;
                    <button data-toggle="tooltip" data-placement="top" data-original-title="Delete" type="submit" class="btn btn-danger"><i class="feather-trash-2"></i></button>
                 </div>
              </div>
           </div>
           <div class="border rounded bg-white mb-3">
              <div class="box-title border-bottom p-3">
                 <h6 class="m-0">About</h6>
                 <p class="mb-0 mt-0 small">Configure your Bio
                 </p>
              </div>
              <div class="box-body">
                 <div class="p-3 border-bottom">
                    <div class="form-group mb-4">
                       <div class="position-relative">
                          <textarea class="form-control" rows="4" name="text" placeholder="Enter Bio">{{currentorg.description}}</textarea>
                       </div>
                    </div>
                 </div>
                 <div class="overflow-hidden text-center p-3">
                    <a class="font-weight-bold btn btn-light rounded p-3 d-block" href="#"> SAVE </a>
                 </div>
              </div>
           </div>
           <div class="border rounded bg-white mb-3">
              <div class="box-title border-bottom p-3">
                 <h6 class="m-0">Social profiles</h6>
                 <p class="mb-0 mt-0 small">Add elsewhere links to your profile.
                 </p>
              </div>
              <div class="box-body">
                 <div class="p-3 border-bottom">
                    <div class="position-relative icon-form-control mb-2">
                       <i class="feather-globe position-absolute"   style="color: rgb(175, 129, 31);"></i>
                       <input placeholder="Add website link" value="{{currentorg.siteweb}}" type="text" class="form-control">
                    </div>
                    <div class="position-relative icon-form-control mb-2">
                       <i class="feather-linkedin position-absolute"  style="color: #0e76a8;"></i>
                       <input placeholder="Add LinkedIn link" type="text" class="form-control">
                    </div>
                    <div class="position-relative icon-form-control mb-2">
                       <i class="feather-twitter position-absolute" style="color: #00acee"></i>
                       <input placeholder="Add Twitter link" type="text" class="form-control">
                    </div>
                    <div class="position-relative icon-form-control mb-2">
                       <i class="feather-facebook position-absolute" style="color: #3b5998;"></i>
                       <input placeholder="Add Facebook link" type="text" class="form-control">
                    </div>
                    <div class="position-relative icon-form-control mb-0">
                       <i class="feather-instagram position-absolute" style="color: #c08d64 ;"></i>
                       <input placeholder="Add Instagram link" type="text" class="form-control">
                    </div>
                 </div>
                 <div class="overflow-hidden text-center p-3">
                    <a class="font-weight-bold btn btn-light rounded p-3 d-block" href="#"> Update Social Profiles </a>
                 </div>
              </div>
           </div>
        </aside>
        <main class="col-md-8">
           <div class="border rounded bg-white mb-3">
              <div class="box-title border-bottom p-3">
                 <h6 class="m-0">Edit Basic Info</h6>
                 <p class="mb-0 mt-0 small">Configure your basic informations
                 </p>
              </div>
              <div class="box-body p-3">
                 <form class="js-validate" novalidate="novalidate">
                    <div class="row">
                       <!-- Input -->
                       <div class="col-sm-6 mb-2">
                          <div class="js-form-message">
                             <label id="nameLabel" class="form-label">
                             Company Name

                             </label>
                             <div class="form-group">
                                <input type="text" class="form-control" value="{{currentorg.nom}}" name="name" placeholder="Enter your organisation's name" aria-label="Enter your first name" required="" aria-describedby="nameLabel" data-msg="Please enter your name." data-error-class="u-has-error" data-success-class="u-has-success">
                                <small class="form-text text-muted">Displayed on your public profile, notifications and other places.</small>
                             </div>
                          </div>
                       </div>
                       <!-- End Input -->
                       <!-- Input -->
                       <div class="col-sm-6 mb-2">
                          <div class="js-form-message">
                             <label id="usernameLabel" class="form-label">
                            Slogan

                             </label>
                             <div class="form-group">
                                <input type="text" class="form-control" name="slogan" value="{{currentorg.slogan}}" placeholder="Enter your username" aria-label="Enter your username" required="" aria-describedby="usernameLabel" data-msg="Please your slogan" data-error-class="u-has-error" data-success-class="u-has-success">
                             </div>
                          </div>
                       </div>
                       <!-- End Input -->
                    </div>
                    <div class="form-group">
                      <label for="domaine" class="label">Activity sector
                      </label>
                      <div>
                        <input required id="domaine" value="{{currentorg.domaine}}" nbInput fullWidth class="form-control" type="text" list="domaines"
                          shape="semi-round" [(ngModel)]="currentorg.domaine" name="domaine">
                        <datalist id="domaines">
                          <option selected [value]="'Informatique'">Computer Science</option>
                          <option [value]="'Energie renouvellables'">Renewable Energy</option>
                          <option [value]="'Expert de projet'">Projec Management</option>
                          <option [value]="'Entreprise privé'">Finance</option>
                        </datalist>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="mb-1">Head Quater</label>
                      <div class="row">
                        <div class="form-group col-lg-6">
                          <label>Country</label>
                          <div class="position-relative icon-form-control">
                            <i class="feather-map position-absolute"></i>
                            <input required type="text" name="country" class="form-control" [(ngModel)]="currentorg.pays">
                          </div>
                        </div>
                        <div class="form-group col-lg-6">
                          <label>State</label>
                          <div class="position-relative icon-form-control">
                            <i class="feather-map-pin position-absolute"></i>
                            <input required type="text" name="town" class="form-control" [(ngModel)]="currentorg.ville">
                          </div>
                        </div>
                      </div>

                    </div>
                    <div class="form-group">
                      <label class="mb-1">Company size </label>
                      <div class="position-relative icon-form-control">
                        <i class="feather-hash position-absolute"></i>
                        <input required type="number" value="{{currentorg.taille}}" min="1" name="size" class="form-control" [(ngModel)]="currentorg.taille">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="mb-1">Company Email</label>
                      <div class="position-relative icon-form-control">
                        <i class="feather-inbox position-absolute"></i>
                        <input required type="email" value="{{currentorg.mail}}" name="email" class="form-control" [(ngModel)]="currentorg.mail">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="mb-1">Phone number</label>
                      <div class="position-relative icon-form-control">
                        <i class="feather-phone position-absolute"></i>
                        <input required type="tel" value="{{currentorg.telephones}}" name="tel" class="form-control" [(ngModel)]="currentorg.telephones">
                      </div>
                    </div>

                 </form>
              </div>
           </div>
           <div class="border rounded bg-white mb-3">
              <div class="box-title border-bottom p-3">
                 <h6 class="m-0">Experience/Skills/Education/language
                 </h6>
                 <p class="mb-0 mt-0 small">Navigate to record page to configure these informations
                  <a class="d-inline-block u-text-muted" href="record">
                   navigate
                    </a>
                 </p>
              </div>
           </div>
           <div class="mb-3 text-right">
              <a class="font-weight-bold btn btn-link rounded p-3" href="#"> &nbsp;&nbsp;&nbsp;&nbsp; Cancel &nbsp;&nbsp;&nbsp;&nbsp; </a>
              <a class="font-weight-bold btn btn-primary rounded p-3" href="#"> &nbsp;&nbsp;&nbsp;&nbsp;  Sava Chenges &nbsp;&nbsp;&nbsp;&nbsp; </a>
           </div>
        </main>
     </div>
  </div>
</div>

<footer>
  <app-footer></app-footer>
</footer>
