<div class="box-body p-3">
  <div class="d-flex align-items-center osahan-post-header mb-3 people-list">
     <div class="dropdown-list-image mr-3">
        <img class="rounded-circle" src="../../../assets/img/l1.png" alt="">
     </div>
     <div class="font-weight-bold mr-2">
        <div class="text-truncate">Amazon</div>
        <div class="small text-gray-500">Internet
        </div>
     </div>
     <span class="ml-auto">
       <button type="button" class="btn btn-light btn-sm text-nowrap"><i class="feather-check-square"></i> Certiify</button> &nbsp;
       <button type="button" class="btn btn-danger btn-sm text-nowrap"><i class="feather-x-square"></i> Deny</button>
      </span>
  </div>
  <div class="d-flex align-items-center osahan-post-header mb-3 people-list">
     <div class="dropdown-list-image mr-3">
        <img class="rounded-circle" src="../../../assets/img/l2.png" alt="">
     </div>
     <div class="font-weight-bold mr-2">
        <div class="text-truncate">Apple</div>
        <div class="small text-gray-500">Consumer Electronics
        </div>
     </div>
     <span class="ml-auto">
       <button type="button" class="btn btn-light btn-sm text-nowrap"><i class="feather-check-square"></i> Certiify</button> &nbsp;
       <button type="button" class="btn btn-danger btn-sm text-nowrap"><i class="feather-x-square"></i> Deny</button>
      </span>
  </div>
  <div class="d-flex align-items-center osahan-post-header mb-3 people-list">
     <div class="dropdown-list-image mr-3">
        <img class="rounded-circle" src="../../../assets/img/l3.png" alt="">
     </div>
     <div class="font-weight-bold mr-2">
        <div class="text-truncate">Microsoft</div>
        <div class="small text-gray-500">Computer Software
        </div>
     </div>
     <span class="ml-auto">
       <button type="button" class="btn btn-light btn-sm text-nowrap"><i class="feather-check-square"></i> Certiify</button> &nbsp;
       <button type="button" class="btn btn-danger btn-sm text-nowrap"><i class="feather-x-square"></i> Deny</button>
      </span>
  </div>
  <div class="d-flex align-items-center osahan-post-header mb-3 people-list">
     <div class="dropdown-list-image mr-3">
        <img class="rounded-circle" src="../../../assets/img/l4.png" alt="">
     </div>
     <div class="font-weight-bold mr-2">
        <div class="text-truncate">Facebook</div>
        <div class="small text-gray-500">Internet
        </div>
     </div>
     <span class="ml-auto">
       <button type="button" class="btn btn-light btn-sm text-nowrap"><i class="feather-check-square"></i> Certiify</button> &nbsp;
       <button type="button" class="btn btn-danger btn-sm text-nowrap"><i class="feather-x-square"></i> Deny</button>
      </span>
  </div>
  <div class="d-flex align-items-center osahan-post-header people-list">
     <div class="dropdown-list-image mr-3">
        <img class="rounded-circle" src="../../../assets/img/l5.png" alt="">
     </div>
     <div class="font-weight-bold mr-2">
        <div class="text-truncate">Netflix</div>
        <div class="small text-gray-500">Entertainment
        </div>
     </div>
     <span class="ml-auto">
       <button type="button" class="btn btn-light btn-sm text-nowrap"><i class="feather-check-square"></i> Certiify</button> &nbsp;
       <button type="button" class="btn btn-danger btn-sm text-nowrap"><i class="feather-x-square"></i> Deny</button>
      </span>
  </div>
</div>
