
<div class="d-flex align-items-center osahan-post-header" *ngIf="received">
  <div class="dropdown-list-image mr-3 mb-auto"><img class="rounded-circle" src="{{userPhoto}}" alt=""></div>
  <div class="mr-1">
     <div class="text-truncate h6 mb-3">{{userName}}
     </div>
     <p> {{message.message}}
     </p>
  </div>
  <span class="ml-auto mb-auto">
     <div class="text-right text-muted pt-1 small"><small>{{message.sentDate.toDate() | date :'mediumTime'}}    |    {{message.sentDate.toDate() | date :'longDate'}}</small></div>
  </span>
</div>
<div class="d-flex align-items-center osahan-post-header" *ngIf="!received">
  <div class="dropdown-list-image mr-3 mb-auto"><img class="rounded-circle" src="../../../../assets/img/p8.png" alt=""></div>
  <div class="mr-1">
     <div class="text-truncate h6 mb-3">{{message.message}}
     </div>
     <p>{{message.message}}</p>
  </div>
  <span class="ml-auto mb-auto">
     <div class="text-right text-muted pt-1 small"><small> {{message.sentDate.toDate() | date :'mediumTime'}}    |    {{message.sentDate.toDate() | date :'longDate'}}</small></div>
  </span>
</div>


<div class="chat-body">
  <div class="answer left" *ngIf="received">
    <div class="avatar">
      <div class="status offline"></div>
    </div>
    <div class="text">
        {{message.message}}
    </div>
    <div class="time" style="color: rgb(85, 83, 83)"> <span class="time_date"><small>
        {{message.sentDate.toDate() | date :'mediumTime'}}    |    {{message.sentDate.toDate() | date :'longDate'}}</small>  </span>

      </div>
  </div>
  <div class="answer right" style="margin-right: -30%" *ngIf="!received">
    <div class="avatar">
      <div class="status offline"></div>
    </div>
    <div class="text">
       <span class="col-lg-12"> {{message.message}}</span>
    </div>
    <div class="time" style="color: rgb(85, 83, 83)"> <span class="time_date"><small>
        {{message.sentDate.toDate() | date :'mediumTime'}}    |    {{message.sentDate.toDate() | date :'longDate'}}</small>  </span>

      </div>
  </div>
</div>
