<div class="box-body p-3 border-bottom">
  <div class="d-flex align-items-top job-item-header pb-2">
     <div class="mr-2">
        <h6 class="font-weight-bold text-dark mb-0">Stanford University</h6>
        <div class="text-truncate text-primary">Master’s programmes</div>
        <div class="small text-gray-500">Oct 2020 - Present (4 year 7 month) </div>
     </div>
     <img class="img-fluid ml-auto mb-auto" src="../../../assets/img/e1.png" alt="">
  </div>
  <p class="mb-0">Find the most qualified people in the most unexpected places. Information for applicants to consider when applying for local positions.</p>
</div>
<div class="box-body p-3">
  <div class="d-flex align-items-top job-item-header pb-2">
     <div class="mr-2">
        <h6 class="font-weight-bold text-dark mb-0">Harvard University</h6>
        <div class="text-truncate text-primary">Maths and science education</div>
        <div class="small text-gray-500">Oct 2020 - Present (4 year 7 month) </div>
     </div>
     <img class="img-fluid ml-auto mb-auto" src="../../../assets/img/e2.png" alt="">
  </div>
  <p class="mb-0">Wualified people in the most unexpected places. Information for applicants to consider when applying for local positions.</p>
</div>
