<!-- page wrapper start -->

<div class="page-wrapper" style="background-color: white;">


    <header id="site-header" class="header header-2">
        <div class="container">
            <div id="header-wrap">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- Navbar -->
                        <nav class="navbar navbar-expand-lg row">
                            <span class="col-lg-6">
                <h1 style="color: white;">RichBlok !!!</h1>
              </span>
                            <!--  <span class="col-lg-6 d-flex justify-content-end">
                <a class="btn btn-theme btn-sm" (click)="gotologin()" data-text="Connect"> <span>C</span><span>o</span><span>n</span><span>n</span><span>e</span><span>c</span><span>t</span>
                            </a>
                            </span>-->
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!--header end-->


    <!--hero section start-->

    <section id="home" class="fullscreen-banner banner p-0" data-bg-img="../../assets/landing/images/pattern/01.png">
        <div class="hero-bg">
            <img class="img-fluid" src="../../assets/landing/images/bg/04.png" alt="">
        </div>
        <div class="align-center p-0">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-7 col-md-12 img-side">
                        <img class="img-center" src="../../assets/landing/images/01.png" alt="">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-5 col-md-12 md-mt-5 ml-auto">
                        <h1 class="mb-4 font-weight-normal wow fadeInUp" data-wow-duration="1.5s">Welcome to <span class="font-weight-bold">RichBlok</span></h1>
                        <p class="lead mb-4 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.3s">The&nbsp;only trusted network of human capital.</p>
                        <a *ngIf="!form" class="btn btn-theme wow fadeInUp" (click)="access()" data-wow-duration="3s" data-wow-delay="0.5s" data-text="Get started"> <span>G</span><span>e</span><span>t</span>&nbsp;<span>S</span><span>t</span>
                            <span> </span><span>a</span> <span> </span><span>r</span><span>t</span><span>e</span><span>d</span>
                        </a>
                        <div class="sm-mt-2" *ngIf="form">
                            <div class="subscribe-form sm-mt-2">
                                <form id="mc-form" class="group">
                                    <input type="email" value="" name="EMAIL" class="email" id="mc-email" placeholder="Email Address" required="" [(ngModel)]="email">
                                    <input class="btn btn-theme" type="submit" name="subscribe" (click)="gotologin()" value="Request access">
                                </form>
                            </div>
                        </div>
                        <a class="btn btn-dark wow fadeInUp" data-wow-duration="3s" data-wow-delay="0.5s" data-text="Learn More" routerLink="/register"> <span>L</span><span>e</span><span>a</span><span>r</span><span>n</span>
                            <span> </span><span>M</span><span>o</span><span>r</span><span>e</span>
                        </a>

                    </div>
                </div>
            </div>
        </div>
        <div class="round-shape"></div>
    </section>

    <!--hero section end-->
    <div class="subscribe-box">
        <div class="container">
            <div class="row subscribe-inner align-items-center">
                <div class="col-md-6 col-sm-12">
                    <h4>Are you a recruiter?</h4>
                    <p class="lead mb-0">Enter your email address to request access and post a job offer</p>
                </div>
                <div class="col-md-6 col-sm-12 sm-mt-2">
                    <div class="subscribe-form sm-mt-2">
                        <form id="mc-form" class="group">
                            <input type="email" value="" name="EMAIL" class="email" id="mc-email" placeholder="Email Address" required="" [(ngModel)]="email">
                            <input class="btn btn-theme" type="submit" name="subscribe" value="Request access" (click)="gotoCreate()">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--body content start-->

    <div class="page-content">

        <!--about start-->

        <section id="about">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12 order-lg-12">
                        <img class="img-fluid w-100" src="../../assets/landing/images/svg/08.svg" alt="">
                    </div>
                    <div class="col-lg-6 col-md-12 md-mt-5 order-lg-1">
                        <div class="section-title mb-3">
                            <div class="title-effect title-effect-2">
                                <div class="ellipse"></div> <i class="la la-info"></i>
                            </div>
                            <h2>We're Building Modern And High SaaS</h2>
                        </div>
                        <p class="lead">RichBlok provides trusted talents with companies values. Hire fast and free with background checks</p>
                        <a class="btn btn-theme btn-circle" href="#" data-text="See About" href="about.richblok.com"> <span>S</span><span>e</span><span>e</span><span> </span>
                            <span>A</span><span>b</span><span>o</span><span>u</span><span>t</span>
                        </a>
                        <a class="btn btn-dark btn-circle" href="#" data-text="Learn More" href="about.richblok.com"> <span>L</span><span>e</span><span>a</span><span>r</span><span>n</span>
                            <span> </span><span>M</span><span>o</span><span>r</span><span>e</span>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <section id="service" class="pos-r o-hidden text-center">
            <div class="bg-animation">
                <img class="zoom-fade" src="../../assets/landing/images/pattern/03.png" alt="">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-12 ml-auto mr-auto">
                        <div class="section-title">
                            <div class="title-effect title-effect-2">
                                <div class="ellipse"></div> <i class="la la-cubes"></i>
                            </div>
                            <h2 class="title">Our Exciting feature And Service</h2>
                            <p>Softino Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderi</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="featured-item style-4">
                            <div class="featured-icon">
                                <img class="img-center" src="../../assets/landing/images/feature/03.png" alt="">
                            </div>
                            <div class="featured-title">
                                <h5>Professionals</h5>
                            </div>
                            <div class="featured-desc">
                                <p>RichBlok records career statements, offers training, performs professional evaluation, legally certifies skills , diplomas, and transcripts in order to produce portfolios and background reports for employments. </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 sm-mt-5">
                        <div class="featured-item style-4">
                            <div class="featured-icon">
                                <img class="img-center" src="../../assets/landing/images/feature/06.png" alt="">
                            </div>
                            <div class="featured-title">
                                <h5>Employers</h5>
                            </div>
                            <div class="featured-desc">
                                <p>RichBlok offers fast and cheap recruitment services with bachground checks. With RichBlok, companies effectively hire talents in less than five business days.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 md-mt-5">
                        <div class="featured-item style-4">
                            <div class="featured-icon">
                                <img class="img-center" src="../../assets/landing/images/feature/04.png" alt="">
                            </div>
                            <div class="featured-title">
                                <h5>Organizations</h5>
                            </div>
                            <div class="featured-desc">
                                <p>RichBlok offers organizations secure account to cerify and verify documents(diplomas, transcripts ...) and web contents world wide. Designated Organizations(DO) generates income by offering trainings and professional evaluations.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="bg-effect pos-r">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-5 col-md-12 image-column">
                        <div class="blink-img">
                            <img class="img-fluid blinkblink" src="../../assets/landing/images/pattern/04.png" alt="">
                        </div>
                        <img class="img-fluid" src="../../assets/landing/images/about/02.png" alt="">
                    </div>
                    <div class="col-lg-6 col-md-12 md-mt-5 ml-auto">
                        <div class="section-title mb-3">
                            <div class="title-effect title-effect-2">
                                <div class="ellipse"></div> <i class="la la-info"></i>
                            </div>
                            <h2>We offer to Professionals the ability to</h2>
                        </div>
                        <ul class="custom-li list-unstyled list-icon-2 d-inline-block" style="color: grey;">
                            <li> Record all facts and events in your life and let RichBlok value you</li>
                            <li>Certify professional experiences, skills and any content by our global blockchain network</li>
                            <li> Beyond professional experiences, produce portfolio of projects that deliver values for companies</li>
                            <li> Define your skill and knowledge base through professional evaluations</li>
                            <li>Reach your professional goals through the RichBlok Leaning and Career Path</li>
                            <li> Produce letters of recommendation legally recognized and digital signed </li>
                            <li> Value your RichBlok professional profile with RichCoin, the first cryptocurrency in the Global Human Capital Market.</li>
                            <li> Demonstrate your skills and get recognitions on your value and expertise</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section class="bg-effect pos-r">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12 md-mt-5 ml-auto">
                        <div class="section-title mb-3">
                            <div class="title-effect title-effect-2">
                                <div class="ellipse"></div> <i class="la la-info"></i>
                            </div>
                            <h2>We offer to Organizations and Recruiters the ability to</h2>
                        </div>
                        <ul class="custom-li list-unstyled list-icon-2 d-inline-block" style="color: grey;">
                            <li>Hire fast trusted talents within five business days</li>
                            <li>Get background checks of selected candidates instantly</li>
                            <li> Use the cheapest recruitment service in the market that promote revenues generation and good salaries</li>
                            <li> Focus on your business goals and strategy and lets RichBlok sustains your values in the human capital </li>
                            <li> Certify your products and services to protect intellectual property and associated documents
                            </li>
                            <li> Certify documents with the organization's seal and your employees to build trust on your business globally</li>
                            <li> Verify documents and any contents in the web through our global blockchain network</li>
                            <li> Produce incomes for professional evaluation services and training services</li>
                        </ul>
                    </div>

                    <div class="col-lg-5 col-md-12 image-column">
                        <div class="blink-img">
                            <img class="img-fluid blinkblink" src="../../assets/landing/images/pattern/04.png" alt="">
                        </div>
                        <img class="img-fluid" src="../../assets/landing/images/about/01.svg" alt="">
                    </div>
                </div>
            </div>
        </section>


        <section id="pricing" class="dark-bg pos-r o-hidden">
            <div class="bg-animation">
                <img class="zoom-fade" src="../../assets/landing/images/pattern/03.png" alt="">
            </div>
            <section class="text-center pos-r">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-10 ml-auto mr-auto">
                            <div class="section-title">
                                <div class="title-effect">
                                    <div class="bar bar-top"></div>
                                    <div class="bar bar-right"></div>
                                    <div class="bar bar-bottom"></div>
                                    <div class="bar bar-left"></div>
                                </div>
                                <h6>How It Work</h6>
                                <h2 class="title">Understand our process</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div id="svg-container">
                            <svg id="svgC" width="100%" height="100%" viewBox="0 0 620 120" preserveAspectRatio="xMidYMid meet"></svg>
                        </div>
                        <div class="col-lg-4 col-md-12">
                            <div class="work-process">
                                <div class="box-loader"> <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                                <div class="step-num-box">
                                    <div class="step-icon"><span><i class="la la-check-square"></i></span>
                                    </div>
                                    <div class="step-num">01</div>
                                </div>
                                <div class="step-desc">
                                    <h4>Records and portfolio</h4>
                                    <p class="mb-0">Richblok enables his users to have a portfolio for you to document all your projects and training</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12 md-mt-5">
                            <div class="work-process">
                                <div class="box-loader"> <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                                <div class="step-num-box">
                                    <div class="step-icon"><span><i class="la la-users"></i></span>
                                    </div>
                                    <div class="step-num">02</div>
                                </div>
                                <div class="step-desc">
                                    <h4>Connections</h4>
                                    <p class="mb-0">Richblok assures your connection with the rest of the world. Professionals, employers and leaners</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12 md-mt-5">
                            <div class="work-process">
                                <div class="step-num-box">
                                    <div class="step-icon"><span><i class="la la-lightbulb-o"></i></span>
                                    </div>
                                    <div class="step-num">03</div>
                                </div>
                                <div class="step-desc">
                                    <h4>Career builder</h4>
                                    <p class="mb-0">The fastest career builder centered on users and organizations.With Richblok, find you most desired work ever</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>

        <!--pricing end-->


        <!--testimonial start-->
        <!--
  <section class="pos-r o-hidden text-center">
    <canvas id="confetti"></canvas>
    <div class="container">
      <div class="row">
        <div class="col-xl-6 col-lg-8 col-md-10 ml-auto mr-auto">
          <div class="section-title">
            <div class="title-effect title-effect-2">
              <div class="ellipse"></div> <i class="la la-question-circle"></i>
            </div>
            <h2 class="title">You Can See our clients feedback What You Say?</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div id="testimonial-2" class="testimonial-carousel carousel slide testimonial-2" data-ride="carousel" data-interval="2500">

            <div class="row">
              <div class="col-md-8 ml-auto mr-auto">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <div class="testimonial style-2">
                      <div class="testimonial-img">
                        <img class="img-center zoom-fade" src="../../assets/landing/images/testimonial/01.jpg" alt="">
                      </div>
                      <div class="testimonial-content">
                        <div class="testimonial-quote"><i class="la la-quote-left"></i>
                        </div>
                        <p>Professional recommended and great experience, Nam pulvinar vitae neque et porttitor, Praesent sed nisi eleifend, Consectetur adipisicing elit, sed do eiusmodas temporo incididunt Praesent sed nisi eleifend, Consectetur adipisicing elit,</p>
                        <div class="testimonial-caption">
                          <h5>Lana Roadse</h5>
                          <label>CEO of Softino</label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="testimonial style-2">
                      <div class="testimonial-img">
                        <img class="img-center zoom-fade" src="../../assets/landing/images/testimonial/02.jpg" alt="">
                      </div>
                      <div class="testimonial-content">
                        <div class="testimonial-quote"><i class="la la-quote-left"></i>
                        </div>
                        <p>Recommended Professional and great experience, Nam pulvinar vitae neque et porttitor, Praesent sed nisi eleifend, Consectetur adipisicing elit, sed do eiusmodas temporo incididunt Praesent sed nisi eleifend, Consectetur adipisicing elit,</p>
                        <div class="testimonial-caption">
                          <h5>Lana Roadse</h5>
                          <label>CEO of Softino</label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="testimonial style-2">
                      <div class="testimonial-img">
                        <img class="img-center zoom-fade" src="../../assets/landing/images/testimonial/03.jpg" alt="">
                      </div>
                      <div class="testimonial-content">
                        <div class="testimonial-quote"><i class="la la-quote-left"></i>
                        </div>
                        <p>Professional Recommended crofessional and great experience, Nam pulvinar vitae neque et porttitor, Praesent sed nisi eleifend, adipisicing elit, sed do eiusmodas temporo incididunt Praesent sed nisi eleifend, Consectetur adipisicing elit,</p>
                        <div class="testimonial-caption">
                          <h5>Lana Roadse</h5>
                          <label>CEO of Softino</label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="testimonial style-2">
                      <div class="testimonial-img">
                        <img class="img-center zoom-fade" src="../../assets/landing/images/testimonial/04.jpg" alt="">
                      </div>
                      <div class="testimonial-content">
                        <div class="testimonial-quote"><i class="la la-quote-left"></i>
                        </div>
                        <p>Consectetur Recommended Professional and great experience, Nam pulvinar vitae neque et porttitor, Praesent sed nisi eleifend, adipisicing elitelit, sed do eiusmodas temporo incididunt Praesent sed nisi eleifend, Consectetur adipisicing elit,</p>
                        <div class="testimonial-caption">
                          <h5>Lana Roadse</h5>
                          <label>CEO of Softino</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <div class="controls">
              <ul class="nav">
                <li data-target="#testimonial-2" data-slide-to="0" class="active">
                  <a href="#">
                    <img class="img-fluid" src="../../assets/landing/images/testimonial/01.jpg" alt="">
                  </a>
                </li>
                <li data-target="#testimonial-2" data-slide-to="1">
                  <a href="#">
                    <img class="img-fluid" src="../../assets/landing/images/testimonial/02.jpg" alt="">
                  </a>
                </li>
                <li data-target="#testimonial-2" data-slide-to="2">
                  <a href="#">
                    <img class="img-fluid" src="../../assets/landing/images/testimonial/03.jpg" alt="">
                  </a>
                </li>
                <li data-target="#testimonial-2" data-slide-to="3">
                  <a href="#">
                    <img class="img-fluid" src="../../assets/landing/images/testimonial/04.jpg" alt="">
                  </a>
                </li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
-->
        <!--testimonial end-->


        <!--counter start-->

    </div>

    <!--body content end-->


    <!--footer start-->

    <footer class="footer pos-r grey-bg bg-contain bg-pos-lt" data-bg-img="../../assets/landing/images/bg/03.png">
        <div class="subscribe-box">
            <div class="container">
                <div class="row subscribe-inner align-items-center">
                    <div class="col-md-6 col-sm-12">
                        <h4>New on RichBlok?</h4>
                        <p class="lead mb-0">Enter your email address to request access</p>
                    </div>
                    <div class="col-md-6 col-sm-12 sm-mt-2">
                        <div class="subscribe-form sm-mt-2">
                            <form id="mc-form" class="group">
                                <input type="email" value="" name="EMAIL" class="email" id="mc-email" placeholder="Email Address" required="" [(ngModel)]="email">
                                <input class="btn btn-theme" type="submit" name="subscribe" value="Request access" (click)="gotologin()">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="primary-footer" style="margin: 5%;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="footer-logo">
                            <h1>RickBlok</h1>
                        </div>
                        <img src="../../assets/landing/images/about/y.jpg" style="width: 100%;">
                    </div>
                    <div class="col-lg-4 col-md-6 pl-md-5 sm-mt-5 footer-list justify-content-between d-flex">
                        <ul class="list-unstyled w-100">
                            <li><a href="about.richblok.com">About Us</a>
                            </li>
                            <li><a href="about.richblok.com">Service</a>
                            </li>

                            <li><a href="about.richblok.com">Contact Us</a>
                            </li>
                        </ul>
                        <ul class="list-unstyled w-100">
                            <li><a>Cookies policy</a>
                            </li>
                            <li><a routerLink="/policy">Privacy Policy</a>
                            </li>
                            <li><a routerLink="/terms">Terms</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-12 md-mt-5">
                        <ul class="media-icon list-unstyled">
                            <li>
                                <p class="mb-0">Address: <b>8843, Douala, Cameroon</b>
                                </p>
                            </li>
                            <li>Email: <a href="mailto:themeht23@gmail.com"><b>office@richblok.com</b></a>
                            </li>
                            <li>Phone: <a href="tel:+912345678900"><b>+237 676-045-640</b></a>
                            </li>
                            <li>WhatsApp: <a href="tel:+912345678900"><b>+237 676-045-640</b></a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="d-flex justify-content-center">
                    <span>Copyright &copy; 2020 RichBlok Inc. | All Rights Reserved</span>
                </div>
            </div>
        </div>
    </footer>

    <!--footer end-->


</div>

<!-- page wrapper end -->

<div class="scroll-top"><a class="smoothscroll" href="#top"><i class="flaticon-go-up-in-web"></i></a></div>