<div class="box mb-3 shadow-sm rounded bg-white view-box overflow-hidden">
    <div class="box-title border-bottom p-3">
       <h6 class="m-0">Demonstration Videos views</h6>
    </div>
    <div class="d-flex text-center">
       <div class="col-6 border-right py-4 px-2">
          <h5 class="font-weight-bold text-info mb-1">10 <i class="feather-bar-chart-2"></i></h5>
          <p class="mb-0 text-black-50 small">shared last 5 days</p>
       </div>
       <div class="col-6 py-4 px-2">
          <h5 class="font-weight-bold text-success mb-1">6 <i class="feather-bar-chart"></i></h5>
          <p class="mb-0 text-black-50 small">views since 4 days</p>
       </div>
    </div>
 </div>

 <div class="box mb-3 shadow-sm rounded bg-white view-box overflow-hidden">
    <div class="box-title border-bottom p-3">
       <h6 class="m-0">Demonstration Document explored</h6>
    </div>
    <div class="d-flex text-center">
       <div class="col-6 border-right py-4 px-2">
          <h5 class="font-weight-bold text-info mb-1">3 <i class="feather-bar-chart-2"></i></h5>
          <p class="mb-0 text-black-50 small">shared last 5 days</p>
       </div>
       <div class="col-6 py-4 px-2">
          <h5 class="font-weight-bold text-success mb-1">3 <i class="feather-bar-chart"></i></h5>
          <p class="mb-0 text-black-50 small">views since last week</p>
       </div>
    </div>
 </div>

 <div class="box mb-3 shadow-sm rounded bg-white view-box overflow-hidden">
    <div class="box-title border-bottom p-3">
       <h6 class="m-0">Demonstration Links explored</h6>
    </div>
    <div class="d-flex text-center">
       <div class="col-6 border-right py-4 px-2">
          <h5 class="font-weight-bold text-info mb-1">08 <i class="feather-bar-chart-2"></i></h5>
          <p class="mb-0 text-black-50 small">shared last 5 days</p>
       </div>
       <div class="col-6 py-4 px-2">
          <h5 class="font-weight-bold text-success mb-1">08 <i class="feather-bar-chart"></i></h5>
          <p class="mb-0 text-black-50 small">views since last week</p>
       </div>
    </div>
 </div>