<div class="box-body p-3 border-bottom" *ngIf="currentExperience" >
  <div class="d-flex align-items-top job-item-header pb-2 row">
     <div class="mr-2 col-md-8" >
        <span>
          <span class="font-weight-bold text-dark mb-0" style="font-size: 1.3em;">{{currentExperience.libelle}} </span> &nbsp; <i *ngIf="displaymode=='priv'" (click)="edit()" class="feather-edit" style="color: rgb(175, 129, 31);cursor: pointer;"></i>&nbsp;&nbsp;<i (click)="delete()" *ngIf="displaymode=='priv'" class="feather-trash"  style="color: rgb(161, 67, 67);cursor: pointer;"></i>
        </span>
          <div class="text-truncate text-primary">{{currentExperience.entreprise}}</div>
        <div class="small text-gray-500">{{currentExperience.debut | date:"short"}}- {{currentExperience.fin? currentExperience.fin  : 'Present'}}  </div>
     </div>
     <div *ngIf="org" class="d-flex justify-content-end col-md-2" style="float: inline-end;">
      <img class="img-fluid ml-auto mb-auto" [src]="org.logo" alt="">
     </div>
  </div>
  <p class="mb-0">{{currentExperience.description}}</p>
</div>
