<<<<<<< HEAD
.span {
    font-size: 1em;
}

.vertical {
    border-left: 2px solid white;
    height: 200px;
    position: absolute;
    left: 50%;
=======
.span {
    font-size: 1em;
}

.vertical {
    border-left: 2px solid white;
    height: 200px;
    position: absolute;
    left: 50%;
>>>>>>> b5446b2a5deb6a99c0106b8227a23d0ad7d05dbe
}