<<<<<<< HEAD

.scrollbar {
  float: left;
  height: 75vh;
  width: 100%px;
  overflow-y: scroll;
}

.force-overflow {
  min-height: 100%;
}

#wrapper {
  text-align: center;
  width: 100px;
  margin: auto;
}

#style::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 25px;
}

#style::-webkit-scrollbar {
  width: 5px;
}

#style::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #066875;
}
=======

.scrollbar {
  float: left;
  height: 75vh;
  width: 100%px;
  overflow-y: scroll;
}

.force-overflow {
  min-height: 100%;
}

#wrapper {
  text-align: center;
  width: 100px;
  margin: auto;
}

#style::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 25px;
}

#style::-webkit-scrollbar {
  width: 5px;
}

#style::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #066875;
}
>>>>>>> b5446b2a5deb6a99c0106b8227a23d0ad7d05dbe
