<header>
    <app-header></app-header>
</header>
<div class="py-4">
    <div class="container">
        <div class="row">
            <!-- Main Content -->
            <main class="col col-xl-9 order-xl-2 col-lg-12 order-lg-1 col-md-12 col-sm-12 col-12">
                <div class="box shadow-sm border rounded bg-white mb-3 osahan-share-post">
                    <h5 class="pl-3 pt-3 pr-3 border-bottom mb-0 pb-3">More suggestions for you</h5>
                    <!-- D2: Bootstrap tabs migrated to ngbNav. -->
                    <ul ngbNav #friendsNav="ngbNav" class="nav border-bottom osahan-line-tab">
                        <li [ngbNavItem]="'suggestions'">
                            <a ngbNavLink>Suggestions</a>
                            <ng-template ngbNavContent>
                                <div class="p-3"><app-friend-suggestion></app-friend-suggestion></div>
                            </ng-template>
                        </li>
                        <li [ngbNavItem]="'invitations'">
                            <a ngbNavLink>Invitations</a>
                            <ng-template ngbNavContent>
                                <div class="p-3 w-100"><app-friend-invitation></app-friend-invitation></div>
                            </ng-template>
                        </li>
                        <li [ngbNavItem]="'connections'">
                            <a ngbNavLink>Connections</a>
                            <ng-template ngbNavContent>
                                <div class="p-3 w-100"><app-friends-list></app-friends-list></div>
                            </ng-template>
                        </li>
                    </ul>
                    <div [ngbNavOutlet]="friendsNav"></div>
                </div>
            </main>
            <aside class="col col-xl-3 order-xl-2 col-lg-12 order-lg-2 col-12">
                <div class="box mb-3 shadow-sm border rounded bg-white list-sidebar">
                    <div class="box-title p-3">
                        <h6 class="m-0">Manage my network</h6>
                    </div>
                    <ul class="list-group list-group-flush">
                        <a href="#">
                            <li class="list-group-item pl-3 pr-3 d-flex align-items-center text-dark"><i class="feather-users mr-2 text-dark"></i> Connections <span class="ml-auto font-weight-bold">68</span></li>
                        </a>
                        <a href="#">
                            <li class="list-group-item pl-3 pr-3 d-flex align-items-center text-dark"><i class="feather-book mr-2 text-dark"></i> Contacts <span class="ml-auto font-weight-bold">869</span></li>
                        </a>
                        <a href="#">
                            <li class="list-group-item pl-3 pr-3 d-flex align-items-center text-dark"><i class="feather-user-check mr-2 text-dark"></i> People I Follow <span class="ml-auto font-weight-bold">156</span></li>
                        </a>
                        <a href="#">
                        </a>
                        <a href="#">
                            <li class="list-group-item pl-3 pr-3 d-flex align-items-center text-dark"><i class="feather-clipboard mr-2 text-dark"></i> Page <span class="ml-auto font-weight-bold">3</span></li>
                        </a>
                        <a href="#">
                        </a>
                    </ul>
                </div>
                <app-follow-orgs></app-follow-orgs>
            </aside>
        </div>
    </div>
</div>
<footer>
    <app-footer></app-footer>
</footer>
