<div class="border">
   
  <form class="px-4 py-3" #xpForm="ngForm" (ngSubmit)="save()">
     <div class="form-group">
        <label for="exampleDropdownFormEmail1">Experience Name</label>
        <input required type="text" name="name" [(ngModel)]="currentExperience.libelle" class="form-control" id="xpname" placeholder="Enter the name of your experience">
     </div>
     <div class="form-group">
        <label for="exampleDropdownFormPassword1">Company of optension</label>
        <input required type="text" name="company"  [(ngModel)]="currentExperience.entreprise" class="form-control" id="xpcompany" placeholder="Enter the company where you had you experience">
     </div>
     <div class="form-group">
      <label for="exampleDropdownFormPassword1">Experience Type </label>
      <select required name="xpType" id="xpType" [(ngModel)]="currentExperience.typeExperience" class="form-control">
         <option [value]="'Job'"> Job </option>
         <option [value]="'AcInt'"> Accademic Internship </option>
         <option [value]="'ProInt'"> Professional Internship </option>
         <option [value]="'FreeLance'"> FreeLance </option>
      </select>
   </div>
     <div class="form-group row">
        <div class="form-group col-lg-6" >
        <label for="start">From</label>
        <input required type="date" [(ngModel)]="currentExperience.debut" name="detadeb" class="form-control" id="start">
     </div>
     <div class="form-group col-lg-6" *ngIf="!currentOnIt">
      <label for="end">To</label>
      <input required type="date" name="datefin" [(ngModel)]="currentExperience.fin" class="form-control" id="end">
   </div>
     </div>
     <div class="form-check mb-3">

        <input type="checkbox" class="form-check-input" id="dropdownCheck" (change)="checkChanged($event)">
        <label class="form-check-label" for="dropdownCheck">
             Currently on it?
        </label>

     </div>
     <div class="form-group row">
      <label for="xpDescription">Description</label>
      <textarea  name="description" [(ngModel)]="currentExperience.description" placeholder="Describe your experience in few words" class="form-control" id="xpDescription"></textarea>
   </div>

 <div class="d-flex justify-content-end">
  <button type="submit" class="btn btn-outline-primary btn-sm" [disabled]="!xpForm.form.valid"> Save </button>

 </div>
  </form>
</div>
