<div class="box shadow-sm mb-3 rounded bg-white ads-box overflow-hidden">
  <div class="box-title border-bottom p-3">
    <h6 class="m-0">Social Profiles</h6>
    <p class="mb-0 mt-0 small">Add elsewhere links to your profile.
    </p>
 </div>
  <div class="p-3">
          <i class="feather-globe mr-2" style="color: rgb(175, 129, 31);"></i><a>www.jaurestokam.com</a>
          <hr>
          <i class="feather-linkedin mr-2" style="color: #0e76a8;"></i><a>www.linkedin.com/jaurestokam</a>
          <hr>
          <i class="feather-twitter mr-2" style="color: #00acee"></i> <a>www.twitter.com/jaurestokam</a>
          <hr>
          <i class="feather-facebook mr-2" style="color: #3b5998;"></i><a> www.facebook.com/jaurestokam</a>
          <hr>
          <i class="feather-instagram mr-2" style="color: #c08d64 ;"></i><a> www.instagram.com/jaurestokam</a>
   </div>


</div>
