<div class="osahan-chat-left">
  <div class="position-relative icon-form-control p-3 border-bottom">
     <i class="feather-search position-absolute"></i>
     <input placeholder="Search messages" type="text" class="form-control">
  </div>
  <div class="osahan-chat-list" id="style">
    <div class="force-overflow">
      <app-chat-users-item *ngFor="let item of chatrooms" [chatRoom]="item" [active]="currentChat===item.chatroomId" (selRoom)="onSelect($event)" (selUsername)="onUsernameSel($event)" (selPhoto)="onPhotoSel($event)"></app-chat-users-item>
    </div>
  </div>
</div>
