<header>
  <app-header></app-header>
</header>
<div class="py-4">
  <div class="container">
     <div class="row">
        <!-- Main Content -->
        <main class="col col-xl-9 order-xl-2 col-lg-12 order-lg-1 col-md-12 col-sm-12 col-12">
           <div class="box shadow-sm rounded bg-white mb-3 osahan-chat">
              <h5 class="pl-3 pt-3 pr-3 border-bottom mb-0 pb-3">Messaging</h5>
              <div class="row m-0">
                 <div class="border-right col-lg-5 col-xl-4 px-0">
                   <app-chat-users [currentChat]="chatid" (onSelect)="display($event)"></app-chat-users>
                 </div>
                 <div class="col-lg-7 col-xl-8 px-0">
                   <app-chat-content [chatroom]="chatid"></app-chat-content>
                 </div>
              </div>
           </div>
        </main>
        <aside class="col col-xl-3 order-xl-2 col-lg-12 order-lg-2 col-12">
          <app-connection-aside></app-connection-aside>
           <div class="box shadow-sm mb-3 border rounded bg-white ads-box ftext-center">
              <div class="image-overlap-2 pt-4">
                 <img src="../../assets/img/l4.png" class="img-fluid rounded-circle shadow-sm" alt="Responsive image">
                 <img src="../../assets/img/user.png" class="img-fluid rounded-circle shadow-sm" alt="Responsive image">
              </div>
              <div class="p-3 border-bottom">
                 <h6 class="text-dark">Gurdeep, grow your career by following <span class="font-weight-bold"> Askbootsrap</span></h6>
                 <p class="mb-0 text-muted">Stay up-to industry trends!</p>
              </div>
              <div class="p-3">
                 <button type="button" class="btn btn-outline-primary btn-sm pl-4 pr-4"> FOLLOW </button>
              </div>
           </div>
        </aside>
     </div>
  </div>
</div>
<footer>
  <app-footer></app-footer>
</footer>
