<div class="box-body p-3 border-bottom">
    <div class="d-flex align-items-top job-item-header pb-2 row">
        <div class="col-lg-6">
            <span>
        <span class="font-weight-bold text-dark mb-0" style="font-size: 1.3em;">Nom du document </span> &nbsp; <i class="feather-edit" style="color: rgb(175, 129, 31);cursor: pointer;"></i>&nbsp;&nbsp;
            <i class="feather-trash" style="color: rgb(161, 67, 67);cursor: pointer;"></i>
            </span>
            <div class="text-truncate text-primary">Related document type : Java EE</div>
            <div class="small text-gray-500">Visibility : Public</div>
            <div class="small text-gray-500">Sign level : Organisations</div>
            <p class="mb-0">Description</p>
        </div>
        <div class="col-lg-6 row">
            <div class="col-lg-6">
                <img src="../../../assets/imgs/friends.png" style="width: 100%;">
            </div>
            <div class="col-lg-6">
                <img src="../../../assets/imgs/friends.png" style="width: 100%;">
            </div>
        </div>
    </div>
</div>
