<div class="box mb-3 shadow-sm border rounded bg-white profile-box text-center">
    <div class="py-4 px-3 border-bottom">
        <a href="profile"><img [src]="currentUser?.imageprofil" class="img-fluid mt-2 rounded-circle" alt="Profile image"></a>
        <h5 class="font-weight-bold text-dark mb-1 mt-4">{{currentUser?.nom}} {{currentUser?.prenom}}</h5>
        <p class="mb-0 text-muted">{{currentUser?.poste}} at {{currentUser?.lieu}}</p>
    </div>
    <div class="d-flex">
        <div class="col-6 border-right p-3">
            <h6 class="font-weight-bold text-dark mb-1">{{currentUser?.abonnees?.length}}</h6>
            <p class="mb-0 text-black-50 small">Connections</p>
        </div>
        <div class="col-6 p-3">
            <h6 class="font-weight-bold text-dark mb-1">{{views}}</h6>
            <p class="mb-0 text-black-50 small">Views</p>
        </div>
    </div>
    <div class="overflow-hidden border-top">
        <a class="font-weight-bold p-3 d-block" href="profile"> Visit my profile </a>
    </div>
</div>
