<header>
  <app-header></app-header>
</header>
<div class="py-5 bg-primary">
  <div class="container">
     <div class="row">
        <div class="col-md-8 mx-auto">
           <h1 class="text-white font-weight-light"><span class="font-weight-bold">Privacy</span> & Policy</h1>
           <p class="mb-2 text-white-50">Last modified: March 01, 2020 (view archived versions)
           </p>
        </div>
     </div>
  </div>
</div>
<div class="py-5">
  <div class="container">
     <div class="row">
        <div class="col-md-8 mx-auto">
           <div class="bg-white p-5 shadow-sm box border rounded">
              <div id="intro" class="mb-4">
                 <!-- Title -->
                 <div class="mb-3">
                    <h2 class="h5 text-primary">Introduction</h2>
                 </div>
                 <!-- End Title -->
                 <p>RichBlok Inc. operates <a href="https://www.richblok.com">https://www.richblok.com</a>, a professional network of trust. People use RichBlok to record, certify, train, evaluate, and demonstrate their skills and associated documents, and to get fast and cheap recruitment services.
                    RichBlok’s privacy policy applies to all users of our websites, apps and its services. RichBlok’s registered users, called “Member”, use our services whereas none registered users, called “Visitor” can view some of our services.
                    </p>
                 <p>Each Member can certify all contents in the web with our technology. Precisely, a Member records professional statements and interacts with the network to certify these statements and associated documents. A Member demonstrate recorded statements and can take training to improve their skills and knowledge. Professional evaluations offered within RichBlok establish “current knowledge and skills base”.</p>
                 <p>This privacy policy will explain how our organization uses the personal data we collect from you when you use our website.</p>
              </div>
              <div id="intro" class="mb-4">
                <!-- Title -->
                <div class="mb-3">
                   <h2 class="h5 text-primary">Topics</h2>
                </div>
                <ol>
                    <li>
                      What data do we collect?
                    </li>
                    <li>
                      How do we collect your data?
                    </li>
                    <li>
                      How will we use your data?
                    </li>
                    <li>
                      How do we store your data?
                    </li>
                    <li>
                      What are your data protection rights?
                    </li>
                    <li>
                      What are cookies?
                      <ul>
                        <li>
                          How do we use cookies?
                        </li>
                        <li>
                          What types of cookies do we use?
                        </li>
                        <li>
                          How to manage your cookies
                        </li>
                      </ul>
                    </li>
                    <li>
                      Your Choice & Obligation
                    </li>
                    <li>
                      Other Important Information
                    </li>
                    <li>
                    Changes to our privacy policy
                    </li>
                    <li>
                      How to contact us
                    </li>
                    <li>
                      How to contact the appropriate authorities
                    </li>
                </ol>
              </div>
              <div id="services" class="mb-4">
                 <!-- Title -->
                 <div class="mb-3">
                    <h3 class="h5 text-primary">1. What data do we collect?</h3>
                 </div>

                 <div id="personal-data" class="mb-3 active">
                    <h4 class="h6 text-primary">A. Registration</h4>
                 </div>
                 <!-- End Title -->
                 <p>When you need to create RichBlok account, you have to provide the following data:</p>
                 <ul class="text-secondary">
                    <li class="pb-2">Email address</li>
                    <li class="pb-2">Mobile number</li>
                    <li class="pb-2">Name</li>
                    <li class="pb-2">Password</li>
                    <li class="pb-2">Credit card information to buy a premium account or premium services.</li>
                 </ul>
                 <!-- Title -->
                 <div id="information" class="mb-3 active">
                    <h4 class="h6 text-primary">B. Records</h4>
                 </div>
                 <!-- End Title -->
                 <p>RichBlok enables you to records any information that value you in the job market. Therefore, you can record statements such as education, skills, diplomas, transcripts, work experience, photo, work attestation, city or area, certificates, experiences, contracts, tests results, performances…etc. These records enable you use RichBlok services such as certification, demonstration, training, evaluation, job application, payments, investment, payments, advertising, and selling. It is your choice whether to record sensitive information on your profile and to make that sensitive information public. Please do not post or add personal data to your profile that you would not want to be publicly available.</p>


                 <div id="information" class="mb-3 active">
                  <h4 class="h6 text-primary">C. Background Checks</h4>
               </div>
               <!-- End Title -->
               <p>People in the RichBlok network can certify information you record and give their opinions about your statements in order to produce background checks for employments. While these opinions and certifications are bind to your profile with a legal value, you have the right to contest them. Background checks are performed only if you approve. So, do not approve background checks that are unauthorized in your country or region.</p>



               <div id="information" class="mb-3 active">
                <h4 class="h6 text-primary">D. Service User</h4>
             </div>
             <!-- End Title -->
             <p>While you are on RichBlok, registered or visitor, we log your service usage. Data usage we log include the use of our services found in our website, platform technology, mobile apps,  RichBlok certified contents, ads, search, publications or job application. We use log-ins, cookies, device information and internet protocol (“IP”) addresses to identify you and log your use.</p>



             <div id="information" class="mb-3 active">
              <h4 class="h6 text-primary">E. Cookies</h4>
           </div>
           <!-- End Title -->
           <p>Date we collect come from cookies and similar technologies.
            As described in RichBlok’s Cookie Policy, we use cookies and similar technologies (e.g., web beacons, pixels, ad tags and device identifiers) to recognize you and/or your device(s) on, off and across different services and devices. We also allow some others to use cookies as described in our Cookie Policy. You can control cookies through your browser settings and other tools. You can also opt-out from our use of cookies and similar technologies that track your behavior on the sites of others for third party advertising.
            </p>


            <div id="information" class="mb-3 active">
              <h4 class="h6 text-primary">F. Your device and location</h4>
           </div>
           <!-- End Title -->
           <p>Our trusted network demand the use of data from your devices and networks, including location data.
            When you visit or leave our services (including our plugins or cookies or similar technology on the sites of others), we receive the URL of both the site you came from and the one you go to next. We also get information about your IP address, proxy server, operating system, web browser and add-ons, device identifier and features, and/or ISP or your mobile carrier. If you use our services from a mobile device, that device will send us data about your location based on your phone settings. We will ask you to opt-in before we use GPS or other tools to identify your precise location.
            </p>


            <div id="information" class="mb-3 active">
              <h4 class="h6 text-primary">G. Messages</h4>
           </div>
           <!-- End Title -->
           <p>When you communicate through RichBlok and its services, we learn about that.
            We collect information about you when you send, receive, or engage with messages in connection with our services.
            </p>


            <div id="information" class="mb-3 active">
              <h4 class="h6 text-primary">H. Workplace and school provided informations</h4>
           </div>
           <!-- End Title -->
           <p>When your employer or school buys a premium Service for you to use, they give us data about you.</p>


           <div id="information" class="mb-3 active">
            <h4 class="h6 text-primary">I. New features</h4>
         </div>
         <!-- End Title -->
         <p>We are improving RichBlok, which means we get new data and create new ways to use data.
          RichBlok is dynamic, which require new features to be introduced, which may require the collection of new information. If we collect materially different personal data or materially change how we use your data, we will notify you and may modify this Privacy Policy.
          </p>


              </div>
              <div id="privacy" class="mb-4">
                 <!-- Title -->
                 <div class="mb-3">
                    <h3 class="h5 text-primary">2. How do we collect your data?</h3>
                 </div>
                 <!-- End Title -->
                 <p>You directly provide RichBlok with most of the data we collect. We collect data and process data when you:</p>
                <ul>
                  <li>
                    Register online  and record your informations;
                  </li>
                  <li>
                   Agree that RichBlok performs background checks;
                  </li>
                  <li>
                    Publish articles and make comments;
                  </li>
                  <li>
                    Certify statements, publications, contents and documents;
                  </li>
                  <li>
                    Take training through our learning path;
                  </li>
                  <li>
                    Pass professional evaluations;
                  </li>
                  <li>
                    Realize professional demonstrations;
                  </li>
                  <li>
                    Use or view our website via your browser’s cookies;
                  </li>
                  <li>
                    Place an order for any of our products or services;
                  </li>
                  <li>
                    Voluntarily complete a customer survey or provide feedback on any of our message boards or via email.
                  </li>
                </ul>
                <p>
                  RichBlok may also receive your data indirectly from the following sources:
                </p>
                <ul>
                  <li>
                    Any social network data that you agree;
                  </li>
                  <li>
                    External testing results sent to us on your behalf;
                  </li>
                  <li>
                    Documents sent to us on your behalf.
                  </li>
                </ul>
                </div>
              <div id="yourContent" class="active">
                 <!-- Title -->
                 <div class="mb-3">
                    <h3 class="h5 text-primary">3. How we will use your data?</h3>
                 </div>
                 <!-- End Title -->
                 <p>RichBlok Inc. collects your data so that we can provide, support, personalize and develop our offering. How we use your personal data will depend on which services you use, how you use those services and the choices you make in your parameters. We use the data that we have about you to provide and personalize, including with the help of automated systems and inferences we make, our services (including ads) so that they can be more relevant and useful to you and others.</p>
                 <div id="personal-data" class="mb-3 active">
                  <h4 class="h6 text-primary">A. RichBlok services</h4>
               </div>
               <!-- End Title -->
               <p>
                RichBlok services stay you connected with others, find jobs and business opportunities, certify statements and web contents, demonstrate your skills or any statements, evaluate your education and competencies, design your career plan and learning path, payment services, and RichCoin cryptocurrency services.
                We use your data to authorize access to RichBlok services.

               </p>
               <div id="personal-data" class="mb-3 active">
                <h4 class="h6 text-primary">B. RichBlok premium services</h4>
             </div>
             <!-- End Title -->
             <p>
              RichBlok premium services allow paying users to records their work experiences, education, professional training, skills and documents. Then the premium user can get community certification (peers and coworkers) that generate your portfolio document, and vertical certification (managers of the companies mentioned in your work experiences) that generate your background checks for employment. Premium user can apply to a job distinctively and can be found by the recruiter. Through professional evaluations, premium users have premium dashboards illustrating knowledge base, skill base and the learning path.  While demonstrating that she actually possess the stated skills and knowledge, premium users have the readiness dashboard.
             </p>
             <div id="personal-data" class="mb-3 active">
              <h4 class="h6 text-primary">C. Communications</h4>
           </div>
           <!-- End Title -->
           <p>
            RichBlok can contact you through alerts and notifications. In addition, RichBlok enable communications between registered users connected. You can control what messages you receive and how often you receive some types of messages through settings.
            We will contact you through email, mobile phone, notices posted on our websites or apps, messages to your RichBlok inbox, and other ways, including text messages and push notifications. We will send you messages about the availability of our services, security, or other service-related issues. We also send messages about how to use the services, network updates, reminders, job suggestions and promotional messages from our partners and us. You may change your communication preferences at any time. Please be aware that you cannot opt-out of receiving service messages from us, including security and legal notices.
           </p>


           <div id="personal-data" class="mb-3 active">
            <h4 class="h6 text-primary">D. Advertising</h4>
         </div>
         <!-- End Title -->
         <p>
          We serve you tailored ads both on and off our services. We offer you choices regarding personalized ads, but you cannot opt-out of seeing other ads.
            We target (and measure the performance of) ads to Members, Visitors and others either on and off our services directly or through a variety of partners, using the following data, whether separately or combined:
          </p>
          <ul>
            <li>
              Data from advertising technologies on and off our services, like web beacons, pixels, ad tags, cookies, and device identifiers;
            </li>
            <li>
              Member-provided information (e.g., profile, contact information, title and industry);
            </li>
            <li>
              Data from your use of our services (e.g., search history, feed, content you read, who you follow or is following you, connections, groups participation, page visits, videos you watch, clicking on an ad, etc.), including as described in Section 1.C;
            </li>
            <li>
              Information from advertising partners and publishers; and
            </li>
            <li>
              Information inferred from data described above (e.g., using job titles from a profile to infer industry, seniority, and compensation bracket; using graduation dates to infer age or using first names or pronoun usage to infer gender).
            </li>

          </ul>
               <p>
                We will show you ads called sponsored content which look similar to non-sponsored content, except that they are labeled “ads” or “sponsored.” If you take an action (such as like, comment or share) on these ads, your action is associated with your name and viewable by others, including the advertiser. Subject to your settings, if you take a social action on the RichBlok services, that action may be mentioned with related ads.
               </p>
               <div id="personal-data" class="mb-3 active">
                <h4 class="h6 text-primary">Ad Choices</h4>
             </div>
             <p>
              We adhere to self-regulatory principles for interest-based advertising and participate in industry opt-outs from such ads. This does not opt you out of receiving advertising; you will continue to get other ads by advertisers not listed with these self-regulatory tools. You can also opt-out specifically from our uses of certain categories of data to show you ads that are more relevant. For Visitors, the setting is here.
             </p>
             <div id="personal-data" class="mb-3 active">
              <h4 class="h6 text-primary">Info to Ad Providers</h4>
           </div>
           <p>
            We do not share your personal data with any third-party advertisers or ad networks for their advertising except for: (i) hashed or device identifiers (to the extent they are personal data in some countries); (ii) with your separate permission (e.g., lead generation form) or (iii) data already visible to any users of the services (e.g. profile). However, if you view or click on an ad on or off our site or apps, the ad provider will get a signal that someone visited the page that displayed the ad, and they may through the use of mechanisms such as cookies determine it is you. Advertising partners can associate personal data collected by the advertiser directly from you with our cookies and similar technologies. In such instances, we seek to contractually require such advertising partners to obtain your explicit, opt-in consent before doing so.
           </p>
           <div id="personal-data" class="mb-3 active">
            <h4 class="h6 text-primary">E. Marketing</h4>
         </div>
         <p>
          We promote our services to you and others.
          We use data and content about Members for invitations and communications promoting membership and network growth, engagement and our services.

         </p>
         <div id="personal-data" class="mb-3 active">
          <h4 class="h6 text-primary">F. Developing services and Research</h4>
       </div>
       <p>
        We develop our services and conduct research.
       </p>
       <div id="personal-data" class="mb-3 active">
        <h4 class="h6 text-primary">Service Development</h4>
     </div>
     <p>
      We use data, including public feedback, to conduct research and development for the further development of our services in order to provide you and others with a better, more intuitive and personalized experience, drive membership growth and engagement on our services, and help connect professionals to each other and to economic opportunity.
     </p>
     <div id="personal-data" class="mb-3 active">
      <h4 class="h6 text-primary">Other Research</h4>
   </div>
   <p>
    We seek to create economic opportunity for Members of the global workforce and to help them be more productive and successful. We use the personal data available to us to research social, economic and workplace trends such as jobs availability and skills needed for these jobs and policies that help bridge the gap in various industries and geographic areas. In some cases, we work with trusted third parties to perform this research, under controls that are designed to protect your privacy. We publish or allow others to publish economic insights, presented as aggregated data rather than personal data.
   </p>

   <div id="personal-data" class="mb-3 active">
    <h4 class="h6 text-primary">Surveys</h4>
 </div>
 <p>
  Others and we conduct polls and surveys through our services. You are not obligated to respond to polls or surveys, and you have choices about the information you provide. You may opt-out of survey invitations.
 </p>

 <div id="personal-data" class="mb-3 active">
  <h4 class="h6 text-primary">F. Customer Support</h4>
</div>
<p>
  We use data to help you and fix problems.
  We use the data (which can include your communications) to investigate, respond to and resolve complaints and Service issues (e.g., bugs).

</p>


<div id="personal-data" class="mb-3 active">
  <h4 class="h6 text-primary">G. Aggregate Insights</h4>
</div>
<p>
  We use data to generate aggregate insights.
We use your data to produce and share aggregated insights that do not identify you. For example, we may use your data to generate statistics about our members, their profession or industry, to calculate ad impressions served or clicked on, or to publish visitor demographics for a Service or demographic workforce insights.

</p>


<div id="personal-data" class="mb-3 active">
  <h4 class="h6 text-primary">H. Security and Investigations</h4>
</div>
<p>
  We use data for security, fraud prevention and investigations.
We use your data (including your communications) if we think it’s necessary for security purposes or to investigate possible fraud or other violations of our User Agreement or this Privacy Policy and/or attempts to harm our Members or Visitors

</p>
<div class="mb-3">
  <h3 class="h5 text-primary">4. How do we store your data?</h3>
</div>
<!-- End Title -->
<p>
  Our Company securely stores your data at [enter the location and describe security precautions taken].
Our Company will keep your [enter type of data] for [enter time period]. Once this time period has expired, we will delete your data by [enter how you delete users’ data].

</p>
<div class="mb-3">
  <h3 class="h5 text-primary">5. What are your data protection rights?</h3>
</div>
<!-- End Title -->
<p>
  Our Company would like to make sure you are fully aware of all of your data protection rights. Every user is entitled to the following:

</p>
<div id="personal-data" class="mb-3 active">
  <h4 class="h6 text-primary">The right to access</h4>
</div>
<p>
  You have the right to request Our Company for copies of your personal data. We may charge you a small fee for this service.
</p>
<div id="personal-data" class="mb-3 active">
  <h4 class="h6 text-primary">The right to recification</h4>
</div>
<p>
  You have the right to request that Our Company correct any information you believe is inaccurate. You also have the right to request Our Company to complete the information you believe is incomplete.
</p>
<div id="personal-data" class="mb-3 active">
  <h4 class="h6 text-primary">The right to erasure</h4>
</div>
<p>
  You have the right to request that Our Company erase your personal data, under certain conditions.
</p>

<div id="personal-data" class="mb-3 active">
  <h4 class="h6 text-primary">The right to restrict processing</h4>
</div>
<p>
  You have the right to request that Our Company restrict the processing of your personal data, under certain conditions.
</p>
<div id="personal-data" class="mb-3 active">
  <h4 class="h6 text-primary">The right to object to processing</h4>
</div>
<p>
  You have the right to object to Our Company’s processing of your personal data, under certain conditions.
</p>
<div id="personal-data" class="mb-3 active">
  <h4 class="h6 text-primary">The right to data portability</h4>
</div>
<p>
  You have the right to request that Our Company transfer the data that we have collected to another organization, or directly to you, under certain conditions.
</p>


<div class="mb-3">
  <h3 class="h5 text-primary">6. What are cookies?</h3>
</div>
<!-- End Title -->
<p>
  Cookies are text files placed on your computer to collect standard Internet log information and visitor behavior information. When you visit our websites, we may collect information from you automatically through cookies or similar technology
</p>


<div id="personal-data" class="mb-3 active">
  <h4 class="h6 text-primary">A. How do we use cookies?</h4>
</div>
<p>
  Our Company uses cookies in a range of ways to improve your experience on our website, including:
</p>
<ul>
  <li>
    Keeping you signed in
  </li>
  <li>
    Understanding how you use our website
  </li>
</ul>

<div id="personal-data" class="mb-3 active">
  <h4 class="h6 text-primary">B. What type of cookies do we use?</h4>
</div>
<p>
  There are a number of different types of cookies, however, our website uses:
</p>
<ul>
  <li>
    Functionality – Our Company uses these cookies so that we recognize you on our website and remember your previously selected preferences. These could include what language you prefer and location you are in. A mix of first-party and third-party cookies are used.
  </li>
  <li>
    Advertising – Our Company uses these cookies to collect information about your visit to our website, the content you viewed, the links you followed and information about your browser, device, and your IP address. Our Company sometimes shares some limited aspects of this data with third parties for advertising purposes. We may also share online data collected through cookies with our advertising partners. This means that when you visit another website, you may be shown advertising based on your browsing patterns on our website.
  </li>
</ul>


<div id="personal-data" class="mb-3 active">
  <h4 class="h6 text-primary">C. How to manage?</h4>
</div>
<p>
  You can set your browser not to accept cookies, and the above website tells you how to remove cookies from your browser. However, in a few cases, some of our website features may not function as a result. Unless you agree otherwise.
</p>


<div class="mb-3">
  <h3 class="h5 text-primary">7. Your Choices & Obligations</h3>
</div>
<div id="personal-data" class="mb-3 active">
  <h4 class="h6 text-primary">A. Data retention</h4>
</div>
<p>
  We keep most of your personal data for as long as your account is open.
We retain your personal data while your account is in existence or as needed to provide you services. This includes data you or others provided to us and data generated or inferred from your use of our services. Even if you only use our services when looking for a new job every few years, we will retain your information and keep your profile open until you decide to close your account. In some cases we choose to retain certain information in a depersonalized or aggregated form.

</p>

<div id="personal-data" class="mb-3 active">
  <h4 class="h6 text-primary">B. Rights to Access and Control Your Personal Data</h4>
</div>
<p>
  You can access or delete your personal data. You have many choices about how your data is collected, used and shared.
  We provide many choices about the collection, use and sharing of your data, from deleting or correcting data you include in your profile and controlling the visibility of your posts to advertising opt-outs and communication controls. We offer you settings to control and manage the personal data we have about you.
  For personal data that we have about you:

</p>
<ul>
  <li>
    	Delete Data: You can ask us to erase or delete all or some of your personal data (e.g., if it is no longer necessary to provide services to you).
  </li>
  <li>
    Change or Correct Data: You can edit some of your personal data through your account. You can also ask us to change, update or fix your data in certain cases, particularly if it’s inaccurate.
</li>
<li>
  Object to, or Limit or Restrict, Use of Data: You can ask us to stop using all or some of your personal data (e.g., if we have no legal right to keep using it) or to limit our use of it (e.g., if your personal data is inaccurate or unlawfully held).
</li>
<li>
  Right to Access and/or Take Your Data: You can ask us for a copy of your personal data and can ask for a copy of personal data you provided in machine-readable form.
</li>
</ul>
<p> Visitors can learn more about how to make these requests here. You may also contact us using the contact information below, and we will consider your request in accordance with applicable laws.
  Residents in the European Union or European Economic Area may have additional rights under their laws.
  </p>

  <div id="personal-data" class="mb-3 active">
    <h4 class="h6 text-primary">B. Account Closure</h4>
  </div>
  <p>
    We keep some of your data even after you close your account.
If you choose to close your RichBlok account, your personal data will generally stop being visible to others on our services within 24 hours. We generally delete closed account information within 30 days of account closure, except as noted below.

  </p>
<p>
  We retain your personal data even after you have closed your account if reasonably necessary to comply with our legal obligations (including law enforcement requests), meet regulatory requirements, resolve disputes, maintain security, prevent fraud and abuse, enforce our User Agreement, or fulfill your request to “unsubscribe” from further messages from us. We will retain de-personalized information after your account has been closed.
</p>
<p>
  Information you have shared with others will remain visible after you closed your account or deleted the information from your own profile or mailbox, and we do not control data that other Members copied out of our services. Groups content and ratings or review content associated with closed accounts will show an unknown user as the source. Your profile may continue to be displayed in the services of others (e.g., search engine results) until they refresh their cache.
</p>


<div class="mb-3">
  <h3 class="h5 text-primary">8. Other important information</h3>
</div>
<div id="personal-data" class="mb-3 active">
  <h4 class="h6 text-primary">A. Security</h4>
</div>
<p>
  We monitor for and try to prevent security breaches. Please use the security features available through our services.
  We implement security safeguards designed to protect your data, such as HTTPS. We regularly monitor our systems for possible vulnerabilities and attacks. However, we cannot warrant the security of any information that you send us. There is no guarantee that data may not be accessed, disclosed, altered, or destroyed by breach of any of our physical, technical, or managerial safeguards. Please visit our Safety Center for additional information about safely using our services, including two-factor authentication.

</p>
<div id="personal-data" class="mb-3 active">
  <h4 class="h6 text-primary">B. Cross-Border Data Transfers</h4>
</div>
<p>
  We store and use your data outside your country.
We process data both inside and outside of the United States and rely on legally provided mechanisms to lawfully transfer data across borders. Countries where we process data may have laws, which are different, and potentially not as protective, as the laws of your own country.

</p>

<div id="personal-data" class="mb-3 active">
  <h4 class="h6 text-primary">C. Lawful Bases for Processing</h4>
</div>
<p>
  We have lawful bases to collect, use and share data about you. You have choices about our use of your data.
At any time, you can withdraw consent you have provided by going to settings.
We will only collect and process personal data about you where we have lawful bases. Lawful bases include consent (where you have given consent), contract (where processing is necessary for the performance of a contract with you (e.g. to deliver the RichBlok services you have requested)) and “legitimate interests”.
Where we rely on your consent to process personal data, you have the right to withdraw or decline your consent at any time and where we rely on legitimate interests, you have the right to object. If you have any questions about the lawful bases upon which we collect and use your personal data, please contact our Data Protection Officer.

</p>
<div id="personal-data" class="mb-3 active">
  <h4 class="h6 text-primary">D. Direct Marketing and Do Not Track Signals</h4>
</div>
<p>
  Our statements regarding direct marketing and “do not track” signals.
We currently do not share personal data with third parties for their direct marketing purposes without your permission about this and about our response to “do not track” signals.

</p>
<div id="personal-data" class="mb-3 active">
  <h4 class="h6 text-primary">E. Direct Marketing and Do Not Track Signals</h4>
</div>
<p>
  You can contact us or use other options to resolve any complaints.
If you have questions or complaints regarding this Policy, please first contact RichBlok online. You can also reach us by physical mail. If contacting us does not resolve your complaint, you have more options. Residents in the EU and EEA may also have the right to contact our Data Protection Officer.

</p>
<div class="mb-3">
  <h3 class="h5 text-primary">9. Changes to our privacy policy</h3>
</div>
<p>RichBlok Inc. keeps its privacy policy under regular review and places any updates on this web page. This privacy policy was last updated on 9 January 2019.</p>
<div class="mb-3">
  <h3 class="h5 text-primary">10. How to contact us</h3>
</div>
<p>
  If you have any questions about RichBlok’s privacy policy, the data we hold on you or you would like to exercise one of your data protection rights, please do not hesitate to contact us.
</p>
<p>Email us at: </p>
<p>Call us:</p>
<p>Or write to us at:</p>
<div class="mb-3">
  <h3 class="h5 text-primary">11. How to contact the appropriate authority</h3>
</div>
<p>
  Should you wish to report a complaint or if you feel that RichBlok Inc. has not addressed your concern in a satisfactory manner, you may contact the Information Commissioner’s Office.
</p>
<p>Email: </p>
<p>Address</p>

                </div>
           </div>
        </div>
     </div>
  </div>
</div>
<footer>
  <app-footer></app-footer>
</footer>
