<div class="modal fade" id="realdetailModal" tabindex="-1" role="dialog" aria-labelledby="realdetailModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="col-lg-12 d-flex justify-content-end">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                </div>
                <hr>
                <div class="row">
                    <div class="col-lg-10">
                        <article class="portfolio-item device tablet left flex-order-tablet_0 responsive-design video-design device-list">
                            <div class="device-hardware">
                                <a class="hover-trigger" data-toggle="modal" data-target="#realdetailModal">
                                    <span class="device-screen" style="background-image: url(https://sunlimetech.com/portfolio/tabletstyleportfolio/imgs/sunlimetechbootstrapexpert.png);">
                </span>
                                </a>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="box-body p-3 border-bottom" style="margin-top: -10% !important;">
                    <div class="d-flex align-items-top job-item-header pb-2 row">
                        <div class="mr-2 col-md-8">
                            <span>
              <span class="font-weight-bold text-dark mb-0" style="font-size: 1.3em;">Nom </span> &nbsp; <i class="feather-edit" style="color: rgb(175, 129, 31);cursor: pointer;"></i>&nbsp;&nbsp;
                            <i class="feather-trash" style="color: rgb(161, 67, 67);cursor: pointer;"></i>
                            </span>
                            <div class="text-truncate text-primary">entreprise</div>
                            <div class="small text-gray-500">02/06/2020 - 21/6/2020 </div>
                        </div>
                    </div>
                    <p class="mb-0">This train can give us the ability to develop and analyse software apllication either mobile or web applications This train can give us the ability to develop and analyse software apllication either mobile or web applications This
                        train can give us the ability to develop and analyse software apllication either mobile or web applications This train can give us the ability to develop and analyse software apllication either mobile or web applications
                    </p>
                    <p class="mb-0">Document : <a>Document link</a></p>
                </div>
            </div>
        </div>
    </div>
</div>