<div class="box shadow-sm border rounded bg-white mb-3">
  <div class="box-title border-bottom p-3">
     <h6 class="m-0">Similar Jobs
     </h6>
  </div>
  <div class="box-body p-3">
     <a href="job-profile">
        <div class="shadow-sm border rounded bg-white job-item mb-3">
           <div class="d-flex align-items-center p-3 job-item-header">
              <div class="overflow-hidden mr-2">
                 <h6 class="font-weight-bold text-dark mb-0 truncatetext-truncate">Product Director</h6>
                 <div class="text-truncate text-primary">Spotify Inc.</div>
                 <div class="small text-gray-500"><i class="feather-map-pin"></i> India, Punjab</div>
              </div>
              <img class="img-fluid ml-auto" src="../../../assets/img/l3.png" alt="">
           </div>
           <div class="d-flex align-items-center p-3 border-top border-bottom job-item-body">
              <div class="overlap-rounded-circle">
                 <img class="rounded-circle shadow-sm" data-toggle="tooltip" data-placement="top" title="" src="../../../assets/img/p9.png" alt="" data-original-title="Sophia Lee">
                 <img class="rounded-circle shadow-sm" data-toggle="tooltip" data-placement="top" title="" src="../../../assets/img/p10.png" alt="" data-original-title="John Doe">
                 <img class="rounded-circle shadow-sm" data-toggle="tooltip" data-placement="top" title="" src="../../../assets/img/p11.png" alt="" data-original-title="Julia Cox">
                 <img class="rounded-circle shadow-sm" data-toggle="tooltip" data-placement="top" title="" src="../../../assets/img/p12.png" alt="" data-original-title="Robert Cook">
              </div>
              <span class="font-weight-bold text-muted">18 connections</span>
           </div>
           <div class="p-3 job-item-footer">
              <small class="text-gray-500"><i class="feather-clock"></i> Posted 3 Days ago</small>
           </div>
        </div>
     </a>
     <a href="job-profile">
        <div class="shadow-sm border rounded bg-white job-item">
           <div class="d-flex align-items-center p-3 job-item-header">
              <div class="overflow-hidden mr-2">
                 <h6 class="font-weight-bold text-dark mb-0 truncatetext-truncate">.NET Developer</h6>
                 <div class="text-truncate text-primary">Invision</div>
                 <div class="small text-gray-500"><i class="feather-map-pin"></i> London, UK
                 </div>
              </div>
              <img class="img-fluid ml-auto" src="../../../assets/img/l4.png" alt="">
           </div>
           <div class="d-flex align-items-center p-3 border-top border-bottom job-item-body">
              <div class="overlap-rounded-circle">
                 <img class="rounded-circle shadow-sm" data-toggle="tooltip" data-placement="top" title="" src="../../../assets/img/p13.png" alt="" data-original-title="Sophia Lee">
                 <img class="rounded-circle shadow-sm" data-toggle="tooltip" data-placement="top" title="" src="../../../assets/img/p1.png" alt="" data-original-title="John Doe">
                 <img class="rounded-circle shadow-sm" data-toggle="tooltip" data-placement="top" title="" src="../../../assets/img/p3.png" alt="" data-original-title="Robert Cook">
              </div>
              <span class="font-weight-bold text-muted">18 connections</span>
           </div>
           <div class="p-3 job-item-footer">
              <small class="text-gray-500"><i class="feather-clock"></i> Posted 3 Days ago</small>
           </div>
        </div>
     </a>
  </div>
</div>
