<div class="p-3 d-flex align-items-top border-bottom osahan-post-comment">
  <div class="dropdown-list-image mr-3">
    <img class="rounded-circle" [src]="ownedUser?.imageprofil" alt="">
    <div class="status-indicator bg-success"></div>
  </div>
  <div class="font-weight-bold">
    <div class="text-truncate"> {{ownedUser?.nom}} {{ownedUser?.prenom}} </div>
    <span class="small" style="color: grey;">{{currentComment.date.toDate() | date: 'medium'}}</span>

    <div class="small text-gray-500">{{currentComment?.message}}
    </div>
  </div>
</div>
