
<div class="row">
  <div class="form-group col-lg-10">
    <input [(ngModel)]="tag" type="text" name="interet" class="form-control">
   </div>
   <div class="d-flex justify-content-end col-lg-2">
    <div class="flex-shrink-1">
      <button type="button"  class="btn btn-outline-primary btn-sm mr-1" (click)="addTag()">Add</button>
    </div>
   </div>
 </div>
 <div *ngFor="let item of tags let i = index;" style=" display: inline-block;">
  <span class="badge badge-primary" style="margin-bottom: 2% !important;">{{item}}<i class="feather-x" (click)="deleteTag(i)" style="cursor: pointer;"></i></span> &nbsp;
</div>
