<div class="box shadow-sm border rounded bg-white mb-3">
  <div class="box-title border-bottom p-3">
    <h6 class="row">
      <span class="col-lg-6">
        <span *ngIf="!form">
          Skills
        </span>
        <span *ngIf="form">
          Add a skill
        </span>
      </span>
      <span class="ml-auto col-lg-6 d-flex justify-content-end">
        <button type="button" class="btn btn-light btn-sm" *ngIf="!form" (click)="showForm()"><i
            class="feather-plus"></i></button>
        <button type="button" class="btn btn-light btn-sm" *ngIf="form" (click)="hideForm()"><i
            class="feather-x"></i></button>

      </span>
    </h6>
  </div>
  <app-record-skills-form *ngIf="form" (skillSaved)="hideForm()" [currentSkill]="currentSkil"></app-record-skills-form>
  <div class="box-body " *ngIf="!form">
    <div class="row">
      <div class="col-lg-6" *ngFor="let skil of userSkills">
        <app-record-skills-item [currentSkill]="skil" [userid]="uid" (itemEdited)="edit($event)"></app-record-skills-item>
      </div>
    </div>

  </div>
</div>
