<<<<<<< HEAD
.modal-dialog{
  background-color:#2c2d2e;
}
.modal-content{
  background-color:#2c2d2e;
}
=======
.modal-dialog{
  background-color:#2c2d2e;
}
.modal-content{
  background-color:#2c2d2e;
}
>>>>>>> b5446b2a5deb6a99c0106b8227a23d0ad7d05dbe
