<!-- D2: Bootstrap tabs migrated to ngbNav. -->
<ul ngbNav #shareNav="ngbNav" class="nav nav-justified border-bottom osahan-line-tab">
  <li [ngbNavItem]="'text'">
      <a ngbNavLink><i class="feather-edit"></i> Share an update</a>
      <ng-template ngbNavContent>
          <div class="p-3 d-flex align-items-center w-100">
              <div class="dropdown-list-image mr-3">
                  <img class="rounded-circle" [src]="currentUser?.imageprofil" alt="">
                  <div class="status-indicator bg-success"></div>
              </div>
              <div class="w-100">
                  <textarea placeholder=" {{currentUser?.nom}} {{currentUser?.prenom}} write your thoughts..." [(ngModel)]="currentPost.description" class="form-control border-0 p-0 shadow-none" rows="1"></textarea>
              </div>
          </div>
      </ng-template>
  </li>
  <li [ngbNavItem]="'file'">
      <a ngbNavLink><i class="feather-image"></i> Upload a file</a>
      <ng-template ngbNavContent>
          <div class="p-3 w-100">
              <div class="row">
                  <div class=" job-item mb-3 col-lg-3 border rounded align-items-center" *ngFor='let url of urls'>
                      <img [src]="url" style="width: 100% !important;">
                  </div>
              </div>
              <div class="upload-btn-wrapper d-flex justify-content-end">
                  <button class="btn btn-outline-primary btn-sm mr-1">Upload an image</button>
                  <input type="file" name="myfile" (change)="onSelectFile($event)" multiple/>
              </div>
          </div>
      </ng-template>
  </li>
  <li [ngbNavItem]="'people'">
      <a ngbNavLink><i class="feather-clipboard"></i> identify people</a>
      <ng-template ngbNavContent>
          <div class="p-3 w-100">
              <app-post-identify></app-post-identify>
          </div>
      </ng-template>
  </li>
</ul>
<div [ngbNavOutlet]="shareNav"></div>
<div class="border-top p-3 d-flex align-items-center">
  <div class="mr-auto">
      <a class="text-link small" (click)="addLocation()" style="color: rgb(12, 102, 109); cursor: pointer;"><i class="feather-map-pin"></i> Add Location</a>
  </div>

  <div class="flex-shrink-1">
      <button type="button" class="btn btn-outline-primary btn-sm mr-1" (click)="savePost()">Repost Status</button>
  </div>

</div>
<app-post-location *ngIf="location"></app-post-location>
