<header>
  <app-header></app-header>
</header>
<div class="py-5 bg-primary">
  <div class="container">
     <div class="row">
        <div class="col-md-12 text-center py-5">
           <h1 class="text-white font-weight-light mt-0">Find the <span class="font-weight-bold">right plan</span></h1>

        </div>
     </div>
  </div>
</div>
<div class="py-5">
  <div class="container">
     <div class="row">
        <div class="col-md-4">
           <div class="border-0 box shadow-sm card rounded">
              <!-- Header -->
              <header class="card-header text-center p-5 border-0">
                 <h4 class="h6 text-danger mb-2">Basic</h4>
                 <span class="d-block">
                 <span class="display-4 text-dark font-weight-normal">
                 <span class="small">$</span>0.0
                 </span>
                 <span class="d-block text-secondary">Per Year</span>
                 </span>
              </header>
              <!-- End Header -->
              <!-- Content -->
              <div class="card-body p-4">
                 <ul class="list-group list-group-flush mb-4" style="margin-top: -5%;">
                    <li class="list-group-item py-2 px-0 border-0"><i class="feather-check text-success mr-1"></i>Record</li>
                    <li class="list-group-item py-2 px-0 border-0"><i class="feather-check text-success mr-1"></i>Community certification</li>
                    <li class="list-group-item py-2 px-0 border-0"><i class="feather-check text-success mr-1"></i>Free Job Posting</li>
                    <li class="list-group-item py-2 px-0 border-0"><i class="feather-check text-success mr-1"></i>Demonstrate without dashboard</li>
                   <li class="list-group-item py-2 px-0 border-0"><i class="feather-x text-danger mr-1"></i>Deep certification dashboard </li>
                   <li class="list-group-item py-2 px-0 border-0"><i class="feather-x text-danger mr-1"></i>Background check reports </li>
                   <li class="list-group-item py-2 px-0 border-0"><i class="feather-x text-danger mr-1"></i>Learning path </li>
                   <li class="list-group-item py-2 px-0 border-0"><i class="feather-x text-danger mr-1"></i>Professional evaluation with  dashboard </li>
                   <li class="list-group-item py-2 px-0 border-0"><i class="feather-x text-danger mr-1"></i>RichBlok readiness dashboard </li>
                   <li class="list-group-item py-2 px-0 border-0"><i class="feather-x text-danger mr-1"></i>5D recruitment services </li>
                   <li class="list-group-item py-2 px-0 border-0"><i class="feather-x text-danger mr-1"></i>Organization account </li>
                  </ul>
                 <button type="button" class="btn btn-block btn-light" tabindex="0">Contact Us</button>
              </div>
              <!-- End Content -->
           </div>
        </div>
        <div class="col-md-4">
           <div class="border-0 box shadow-sm card rounded">
              <!-- Header -->
              <header class="card-header text-center p-5 border-0">
                 <h4 class="h6 text-warning mb-2">Premium</h4>
                 <span class="d-block">
                 <span class="display-4 text-dark font-weight-normal">
                 <span class="small">$</span>100.0
                 </span>
                 <span class="d-block text-secondary">Per Year</span>
                 </span>
              </header>
              <!-- End Header -->
              <!-- Content -->
              <div class="card-body p-4">
                <ul class="list-group list-group-flush mb-4" style="margin-top: -5%;">
                  <li class="list-group-item py-2 px-0 border-0"><i class="feather-check text-success mr-1"></i>Record</li>
                  <li class="list-group-item py-2 px-0 border-0"><i class="feather-check text-success mr-1"></i>Community certification</li>
                  <li class="list-group-item py-2 px-0 border-0"><i class="feather-check text-success mr-1"></i>Free Job Posting</li>
                  <li class="list-group-item py-2 px-0 border-0"><i class="feather-check text-success mr-1"></i>Demonstrate without dashboard</li>
                 <li class="list-group-item py-2 px-0 border-0"><i class="feather-check text-success mr-1"></i>Deep certification dashboard </li>
                 <li class="list-group-item py-2 px-0 border-0"><i class="feather-check text-success mr-1"></i>Background check reports </li>
                 <li class="list-group-item py-2 px-0 border-0"><i class="feather-check text-success mr-1"></i>Learning path </li>
                 <li class="list-group-item py-2 px-0 border-0"><i class="feather-check text-success mr-1"></i>Professional evaluation with  dashboard </li>
                 <li class="list-group-item py-2 px-0 border-0"><i class="feather-check text-success mr-1"></i>RichBlok readiness dashboard </li>
                 <li class="list-group-item py-2 px-0 border-0"><i class="feather-check text-success mr-1"></i>5D recruitment services </li>
                 <li class="list-group-item py-2 px-0 border-0"><i class="feather-x text-danger mr-1"></i>Organization account </li>
                </ul>
                 <button type="button" class="btn btn-block btn-light" tabindex="0">Subscribe</button>
              </div>
              <!-- End Content -->
           </div>
        </div>
        <div class="col-md-4">
           <div class="border-0 box shadow-sm card rounded">
              <!-- Header -->
              <header class="card-header text-center p-5 border-0">
                 <h4 class="h6 text-success mb-2">Organisation</h4>
                 <span class="d-block">
                 <span class="display-4 text-dark font-weight-normal">
                 <span class="small">$</span>200.0
                 </span>
                 <span class="d-block text-secondary">Per Year</span>
                 </span>
              </header>
              <!-- End Header -->
              <!-- Content -->
              <div class="card-body p-4">
                <ul class="list-group list-group-flush mb-4" style="margin-top: -5%;">
                  <li class="list-group-item py-2 px-0 border-0"><i class="feather-check text-success mr-1"></i>Record</li>
                  <li class="list-group-item py-2 px-0 border-0"><i class="feather-check text-success mr-1"></i>Community certification</li>
                  <li class="list-group-item py-2 px-0 border-0"><i class="feather-check text-success mr-1"></i>Free Job Posting</li>
                  <li class="list-group-item py-2 px-0 border-0"><i class="feather-check text-success mr-1"></i>Demonstrate without dashboard</li>
                 <li class="list-group-item py-2 px-0 border-0"><i class="feather-check text-success mr-1"></i>Deep certification dashboard </li>
                 <li class="list-group-item py-2 px-0 border-0"><i class="feather-check text-success mr-1"></i>Background check reports </li>
                 <li class="list-group-item py-2 px-0 border-0"><i class="feather-check text-success mr-1"></i>Learning path </li>
                 <li class="list-group-item py-2 px-0 border-0"><i class="feather-check text-success mr-1"></i>Professional evaluation with  dashboard </li>
                 <li class="list-group-item py-2 px-0 border-0"><i class="feather-check text-success mr-1"></i>RichBlok readiness dashboard </li>
                 <li class="list-group-item py-2 px-0 border-0"><i class="feather-check text-success mr-1"></i>5D recruitment services </li>
                 <li class="list-group-item py-2 px-0 border-0"><i class="feather-check text-success mr-1"></i> Organization account </li>
                </ul>
                 <button type="button" class="btn btn-block btn-primary" tabindex="0">Subscribe</button>
              </div>
              <!-- End Content -->
           </div>
        </div>
     </div>
  </div>
</div>
<footer>
  <app-footer></app-footer>
</footer>
