<header>
  <app-header></app-header>
</header>
<div class="py-5 bg-primary">
  <div class="container">
     <div class="row">
        <div class="col-md-8 mx-auto">
           <h1 class="text-white font-weight-light"><span class="font-weight-bold">Job offer</span> step 4 / Purposes</h1>
           <p class="mb-2 text-white-50">You are almost done.  You are mainly required here to do the final interviews and transmission of the process report
           </p>
        </div>
     </div>
  </div>
</div>
<div class="py-5">
  <div class="container">
     <div class="row">
        <div class="col-md-8 mx-auto">
           <div class="bg-white p-5 shadow-sm box border rounded">

           </div>
        </div>
     </div>
  </div>
</div>
<footer>
  <app-footer></app-footer>
</footer>
