<div class="box shadow-sm border rounded bg-white mb-3">
  <div class="box-title border-bottom p-3">
     <h6 class="m-0">About You</h6>
  </div>
  <div class="box-body p-3">
     <p>{{currentUser.accroche}}
     </p>
  </div>
</div>
<div class="box shadow-sm border rounded bg-white mb-3">
  <div class="box-title border-bottom p-3">
     <h6 class="m-0">Basic informations</h6>
  </div>
  <div class="box-body p-3">
<div class="row">
  <div class="col-lg-3">
    <i class="feather-calendar mr-2" style="color: rgb(175, 129, 31);"></i>
     Date of birth
   </div>
   <div class="col-lg-9">
    {{currentUser.dateNaissance}}
   </div>
</div>
<hr>
<div class="row">
  <div class="col-lg-3">
    <i class="feather-map-pin mr-2" style="color: rgb(175, 129, 31);"></i>
     Place of birth
   </div>
   <div class="col-lg-9">
    {{currentUser.lieuNaissance}}
   </div>
</div>
<hr>
<div class="row">
  <div class="col-lg-3">
    <i class="feather-user mr-2" style="color: rgb(175, 129, 31);"></i>
     Sex
   </div>
   <div class="col-lg-9">
    {{currentUser.sexe}}
   </div>
</div>
<hr>
<div class="row">
  <div class="col-lg-3">
    <i class="feather-phone-call mr-2" style="color: rgb(175, 129, 31);"></i>
     Telephone
   </div>
   <div class="col-lg-9">
    {{currentUser.telephone}}
   </div>
</div>
<hr>

<div class="row">
  <div class="col-lg-3">
    <i class="feather-mail mr-2" style="color: rgb(175, 129, 31);"></i> Email address
   </div>
   <div class="col-lg-9">
    {{currentUser.email}}
   </div>
</div>
<hr>

<div class="row">
  <div class="col-lg-3">
    <i class="feather-map-pin mr-2" style="color: rgb(175, 129, 31);"></i> Location
   </div>
   <div class="col-lg-9">
    {{currentUser.ville}}
   </div>
</div>
<hr>

<div class="row">
  <div class="col-lg-3">
    <i class="feather-award mr-2" style="color: rgb(175, 129, 31);"></i> Post
   </div>
   <div class="col-lg-9">
    {{currentUser.poste}}
   </div>
</div>

<hr>
<div class="row">
  <div class="col-lg-3">
    <i class="feather-home mr-2" style="color: rgb(175, 129, 31);"></i> Organisation
   </div>
   <div class="col-lg-9">
    {{currentUser.lieu}}
   </div>
</div>




  </div>
</div>
