

    <div class="border network-item rounded mb-3">
      <div class="p-3 d-flex align-items-center network-item-header">
        <div class="dropdown-list-image mr-3">
          <img class="rounded-circle" src="{{currentUser.imageprofil}}" alt="">
        </div>

        <a href="profile.html">
          <div class="font-weight-bold">
            <h6 class="font-weight-bold text-dark mb-0 truncate"  title="{{currentUser.nom}} {{currentUser.prenom}}">{{currentUser.nom}} {{currentUser.prenom}}</h6>
            <div class="small text-black-50 truncate"  title="{{currentUser.poste}} at {{currentUser.lieu}}">{{currentUser.poste}} at {{currentUser.lieu}}</div>
          </div>

        </a>
      </div>
      <div class="d-flex align-items-center p-3 border-top border-bottom network-item-body">
        <div class="overlap-rounded-circle">
          <img class="rounded-circle shadow-sm" data-toggle="tooltip" data-placement="top" title="Sophia Lee"
            src="../../../assets/img/p6.png" alt="">
          <img class="rounded-circle shadow-sm" data-toggle="tooltip" data-placement="top" title="John Doe"
            src="../../../assets/img/p7.png" alt="">
          <img class="rounded-circle shadow-sm" data-toggle="tooltip" data-placement="top" title="Julia Cox"
            src="../../../assets/img/p8.png" alt="">
          <img class="rounded-circle shadow-sm" data-toggle="tooltip" data-placement="top" title="Robert Cook"
            src="../../../assets/img/p9.png" alt="">
        </div>
        <span class="font-weight-bold small text-primary">4 mutual connections</span>
      </div>
      <div class="network-item-footer py-3 d-flex text-center">
        <div class="col-10 pl-3 pr-1">
          <button type="button" class="btn btn-primary btn-sm btn-block" *ngIf="!cancel" (click)="suivre()"><i
              class="feather-user-plus"></i> Connect </button>
          <button type="button" class="btn btn-danger btn-sm btn-block" *ngIf="cancel" (click)="annuler()"><i
              class="feather-user-minus"></i> Cancel </button>
        </div>
        <div class="col-2 d-flex justify-content-end">
          <app-initchat [dest]="currentUser.id"></app-initchat>
        </div>
      </div>
    </div>
