
  <div class="border job-item mb-3">
    <div class="d-flex align-items-center p-3 job-item-header">
       <div class="overflow-hidden mr-2">
          <h6 class="font-weight-bold text-dark mb-0 truncatetext-truncate">{{currentSkill.skillName}}</h6>
          <div class="small text-gray-500"> {{currentSkill.skillStringValue}}({{currentSkill.skillduration}} months)</div>
       </div>

       <div class="img-fluid ml-auto">
        <i class="feather-edit mr-2" (click)="edit()" style="color: rgb(175, 129, 31);"></i>  <i class="feather-trash mr-2"  style="color: rgb(161, 67, 67);" (click)="delete()"></i>
         </div>

    </div>
    <div class="d-flex align-items-center p-3 border-top border-bottom job-item-body">
       <div class="overlap-rounded-circle">
          <img class="rounded-circle shadow-sm" data-toggle="tooltip" data-placement="top" title="Sophia Lee" src="../../../../assets/img/p9.png" alt="">
          <img class="rounded-circle shadow-sm" data-toggle="tooltip" data-placement="top" title="John Doe" src="../../../../assets/img/p10.png" alt="">
          <img class="rounded-circle shadow-sm" data-toggle="tooltip" data-placement="top" title="Julia Cox" src="../../../../assets/img/p11.png" alt="">
          <img class="rounded-circle shadow-sm" data-toggle="tooltip" data-placement="top" title="Robert Cook" src="../../../../assets/img/p12.png" alt="">
       </div>
       <span class="font-weight-bold text-primary">You and 4 connections have the same skill</span>
    </div>
 </div>
