<<<<<<< HEAD
.chat:hover{
  background-color: rgb(20, 20, 20)
  ;
}
.chat{
  cursor: pointer;
}
=======
.chat:hover{
  background-color: rgb(20, 20, 20)
  ;
}
.chat{
  cursor: pointer;
}
>>>>>>> b5446b2a5deb6a99c0106b8227a23d0ad7d05dbe
