<div class="box shadow-sm mb-3 border rounded bg-white ads-box overflow-hidden">
    <div class="box-title border-bottom p-3">
        <h6 class="m-0">Social Profiles</h6>
        <p class="mb-0 mt-0 small">Add elsewhere links to your profile.
        </p>
    </div>
    <div class="p-3">
        <span class="truncate"><i class="feather-globe mr-2" style="color: rgb(175, 129, 31);"></i><a href="http://{{currentUser.googleplus}}" style="color: white;">{{currentUser.googleplus}}</a></span>
        <hr>
        <span class="truncate"><i class="feather-linkedin mr-2" style="color: #0e76a8;"></i><a href="http://{{currentUser.linkedIn}}" style="color: white;">{{currentUser.linkedIn}}</a></span>
        <hr>
        <span class="truncate"><i class="feather-twitter mr-2" style="color: #00acee"></i> <a href="http://{{currentUser.twiter}}" style="color: white;">{{currentUser.twiter}}</a></span>
        <hr>
        <span class="truncate"><i class="feather-facebook mr-2" style="color: #3b5998;"></i><a href="http://{{currentUser.facebook}}" style="color: white;"> {{currentUser.facebook}}</a></span>
        <hr>
        <span class="truncate"><i class="feather-instagram mr-2" style="color: #c08d64 ;"></i><a href="http://{{currentUser.youtube}}" style="color: white;"> {{currentUser.youtube}}</a></span>
    </div>


</div>
