<header>
    <app-header></app-header>
</header>
<div class="py-5 bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-md-10 mx-auto">
                <h1 class="text-white font-weight-light"><span class="font-weight-bold">RichBlok</span> Challenges</h1>
            </div>
        </div>
    </div>
</div>
<div class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-10 mx-auto">
                <div class="bg-white p-5 shadow-sm box border rounded">
                    <div *ngIf="step === 1">
                        <div class="form-group">
                            <label>Challenge name</label>
                            <input type="text " class="form-control " placeholder="Enter the challenge title" name="nom" [(ngModel)]="currentChal.titre">
                        </div>
                        <div class="form-group">
                            <label>Description</label>
                            <textarea type="text " class="form-control " placeholder="Enter the challenge description" name="description" [(ngModel)]="currentChal.description"></textarea>
                        </div>
                        <div class="form-group">
                            <label>Number of questions to pass</label>
                            <input type="number" class="form-control " placeholder="Enter the pass mark for this challenge" name="note" [(ngModel)]="currentChal.note">
                        </div>
                        <div class="form-group">
                            <label>Skills evaluated</label>
                            <div class="row">
                                <div class="col-lg-11">
                                    <input type="text " class="form-control " placeholder="Enter the challenge name" name="skill" [(ngModel)]="skill">
                                </div>
                                <div class="col-lg-1">
                                    <button type="button" class="btn btn-outline-primary btn-sm mr-1" (click)="addTag()"> Add</button>
                                </div>
                            </div>
                        </div>
                        <div class="p-3  osahan-post-footer">
                            <div *ngFor="let item of currentChal.skills let i = index;" style=" display: inline-block; margin-top: 1%;">
                                <span class="badge badge-primary span" style="margin-bottom: 2% !important;">{{item}}</span> &nbsp; &nbsp;
                            </div>
                        </div>
                        <div class="upload-btn-wrapper d-flex justify-content-end">
                            <button class="btn btn-outline-primary btn-sm mr-1">Upload an image</button>
                            <input type="file" name="myfile" (change)="onSelectFile($event)" />
                        </div>
                        <div class="d-flex justify-content-end" style="margin-top: 2% !important;">
                            <button type="button" class="btn btn-outline-primary btn-sm mr-1" (click)="next()"> Next</button>
                        </div>
                    </div>
                    <div *ngIf="step === 2" class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Enter the question number {{nbrQuestion}}</label>
                                <textarea type="text" style="height: 40%;" class="form-control " placeholder="Enter the challenge question" name="nomquestion" [(ngModel)]="currentQuestion.question"></textarea>
                            </div>
                            <div class="form-group">
                                <label>Question Duration <small>In seconds</small></label>
                                <input type="number" min="1" class="form-control " placeholder="Estimate the duration in second for this question" name="duree" [(ngModel)]="currentQuestion.duration">
                            </div>
                        </div>
                        <div class="vertical"></div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Proposition <span *ngIf="!enable">{{nombre}}</span> <span *ngIf="enable">{{mdfIdx + 1}}</span></label>
                                <angular-editor id="question" name="question" [placeholder]="'Enter the proposition number '+nombre" [(ngModel)]="currentReponse.text" [spellcheck]="true"></angular-editor>
                            </div>

                            <div>
                                <label *ngIf="check">Correct Answer?</label>
                                <div class="row">
                                    <div class="col-lg-10">
                                        <div *ngIf="check">
                                            <select class="form-control" name="select" [(ngModel)]="currentReponse.istrue">
                                          <option [value]="'yes'">Yes</option>
                                          <option [value]="'no'" selected>No</option>
                                        </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 d-flex justify-content-end">
                                        <span style="margin-top: 3% !important;">
                                              <button type="button" class="btn btn-outline-primary btn-sm mr-1" (click)="addAnswer()" *ngIf="!enable"> Add</button>
                                              <button type="button" class="btn btn-outline-primary btn-sm mr-1" (click)="confirmModification()" *ngIf="enable"> Modify</button>
                                            </span>
                                    </div>
                                </div>

                            </div>
                            <div *ngIf="showAnswers">
                                <hr>
                                <h5>Propositions</h5>
                                <div *ngFor="let item of currentQuestion.reposesPossible let i = index;">
                                    <div class="row">
                                        <div class="col-lg-10" style="width: 100px; word-wrap: break-word">
                                            {{i +1}}.<span [innerHTML]="item.text"></span> <i class="feather-check" *ngIf="item.istrue === 'yes'" style="color: rgb(144, 170, 50); font-size: 1.5em;"></i>
                                        </div>
                                        <span class="col-lg-2">
                                      <i class="feather-trash-2" (click)="deleteAnswer(i)" style="cursor: pointer; color: rgb(150, 64, 64); font-size: 1.5em;"></i>&nbsp;&nbsp;
                                      <i class="feather-edit" (click)="modifyAnswer(i)" style="cursor: pointer; color: rgb(19, 94, 97); font-size: 1.5em;"></i>
                                    </span>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-end" style="padding-top: 25%;">
                                <button type="button" class="btn btn-outline-danger btn-sm mr-1" (click)="previous()"> Previous</button>&nbsp;&nbsp;
                                <button type="button" class="btn btn-outline-primary btn-sm mr-1" (click)="next()"> Next</button>&nbsp;&nbsp;
                                <button type="button" class="btn btn-outline-primary btn-sm mr-1" (click)="addQuestion()"> Go to question {{nbrQuestion + 1}}</button>
                            </div>
                        </div>



                    </div>
                    <div *ngIf="step === 3">
                        <h5>
                            Overview of your challenge
                        </h5>
                        <hr>
                        <div class="box shadow-sm mb-3 border rounded bg-white ads-box text-center col-lg-6">
                            <div class="row">
                                <div class="col-lg-6 d-flex justify-content-start">
                                    {{currentChal.duree}} seconds
                                </div>
                                <div class="col-lg-6 d-flex justify-content-end">
                                    {{currentChal.questions.length}} Questions
                                    <br>Pass mark : {{currentChal.note}} / {{currentChal.questions.length}}
                                </div>
                            </div>
                            <div class="image-overlap-2 pt-4">
                                <img src="../../../assets/img/l4.png" class="img-fluid rounded-circle shadow-sm" alt="Responsive image">
                            </div>
                            <div class="p-3 border-bottom">
                                <h6 class="text-dark">{{currentChal.titre}}<span class="font-weight-bold"></span></h6>
                                <small>{{currentChal.description}}</small>
                            </div>
                            <div class="p-3">
                                <div class="d-flex justify-content-start">
                                    <div *ngFor="let item of currentChal.skills let i = index;" style=" display: inline-block;">
                                        <span class="badge badge-primary span" style="margin-bottom: 2% !important;">{{item}}<i class="feather-x" (click)="deleteTag(i)" style="cursor: pointer;"></i></span> &nbsp;
                                    </div>
                                </div>
                            </div>
                            <div class="p-3 d-flex justify-content-end">
                                <button type="button" class="btn btn-outline-danger btn-sm mr-1" (click)="cancel()" *ngIf="!enable"> Cancel</button> &nbsp;&nbsp;
                                <button type="button" class="btn btn-outline-primary btn-sm mr-1" (click)="save()" *ngIf="!enable"> Save the challenge</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <app-footer></app-footer>
</footer>