<header>
   <app-header></app-header>
</header>
<div class="py-5 bg-primary">
   <div class="container">
      <div class="row">
         <div class="col-md-8 mx-auto">
            <h1 class="text-white font-weight-light"><span class="font-weight-bold">Job offer</span> step 1 / Job
               details</h1>
            <p class="mb-2 text-white-50">In this step your are required to post the job offer, define pre-selection
               criteria, pre-interviews questionnaires and challenges.
            </p>
         </div>
      </div>
   </div>
</div>
<div class="py-5">
   <div class="container">
      <div class="row">
         <div class="col-md-8 mx-auto">
            <div class="bg-white p-5 shadow-sm box border rounded">
               <form #form="ngForm" (ngSubmit)="save()">
                  <div class="form-group">
                     <label class="mb-1">Requesting Organisation </label>
                     <div class="position-relative icon-form-control">
                        <i class="feather-pocket position-absolute"></i>
                        <select [disabled]="offres.currentStep > 1" [(ngModel)]="offres.ownerOrg" name="org" class="form-control">
                           <option *ngFor="let item of organisations" [value]="item.id">{{item}}</option>
                        </select>
                     </div>
                  </div>
                  <div class="form-row">
                     <div class="col">
                        <div class="form-group">
                           <label class="mb-1">Post</label>
                           <div class="position-relative icon-form-control">
                              <i class="feather-pocket position-absolute"></i>
                              <input [disabled]="offres.currentStep > 1" required type="text" [(ngModel)]="offres.libelle" name="lbl" class="form-control"
                                 placeholder="Enter the post to be occupied">
                           </div>
                        </div>
                     </div>
                     <div class="col">
                        <div class="form-group">
                           <label class="mb-1">Location ( <small [innerHTML]="offres?.completeAddress"></small>)</label>
                           <div class="position-relative icon-form-control">
                              <i class="feather-map-pin position-absolute"></i>
                              <input [disabled]="offres.currentStep > 1" type="text" name="location" class="form-control" matGoogleMapsAutocomplete
                                 placeholder="Enter the job location" #search
                                 (onAutocompleteSelected)="onAutocompleteSelected($event)"
                                 (onLocationSelected)="onLocationSelected($event)">
                           </div>
                        </div>
                     </div>
                  </div>
                  <label class="form-label">
                     Job type
                  </label>
                  <div class="row">
                     <!-- Input -->
                     <div class="col-md-12 mb-3 mb-sm-12">
                        <div class="js-form-message">
                           <div class="form-group">
                              <select [disabled]="offres.currentStep > 1" [(ngModel)]="offres.jobType" name="jobtype" class="form-control custom-select" required=""
                                 data-msg="Please select job type" data-error-class="u-has-error"
                                 data-success-class="u-has-success">
                                 <option value="">Select type</option>
                                 <option value="Full Time" selected="selected">Full time</option>
                                 <option value="FreeLance">FreeLance</option>
                                 <option value="Part time">Part time</option>

                              </select>
                           </div>
                        </div>
                     </div>
                  </div>
                  <label>Job offer period </label>
                  <div class="form-row">
                     <div class="col">
                        <div class="form-group">
                           <label class="mb-1">From</label>
                           <div class="position-relative icon-form-control">
                              <i class="feather-clock position-absolute"></i>
                              <input [disabled]="offres.currentStep > 1" [(ngModel)]="offres.datedeb" type="date" name="from" class="form-control">
                           </div>
                        </div>
                     </div>
                     <div class="col">
                        <div class="form-group">
                           <label class="mb-1">To</label>
                           <div class="position-relative icon-form-control">
                              <i class="feather-clock position-absolute"></i>
                              <input [disabled]="offres.currentStep > 1" [(ngModel)]="offres.datefin" type="date" name="to" class="form-control">
                           </div>
                        </div>
                     </div>
                  </div>

                  <div class="form-group">
                     <label class="mb-1">Job function</label>
                     <div class="position-relative icon-form-control">
                        <i class="feather-anchor position-absolute"></i>
                        <input [disabled]="offres.currentStep > 1" [(ngModel)]="offres.fonction" type="text" name="function" class="form-control"
                           placeholder="Enter the jpb functions">
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="mb-1">Job description</label>
                     <div class="position-relative icon-form-control">
                        <i class="feather-align-justify position-absolute"></i>
                        <textarea [disabled]="offres.currentStep > 1" [(ngModel)]="offres.description" type="text" name="desc" class="form-control"
                           placeholder="Enter a description of youe job"></textarea>
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="mb-1">Required Skills. You added {{numberSkills}} skill(s)</label>
                     <div class="flex-shrink-1">
                        <button [disabled]="offres.currentStep > 1" type="button" class="btn btn-outline-primary btn-sm mr-1" data-toggle="modal"
                           data-target="#skillmodal">Add skills</button>
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="mb-1">Required Diploma. You added {{numberdiploma}} required diploma</label>
                     <div class="flex-shrink-1">
                        <button [disabled]="offres.currentStep > 1" type="button" class="btn btn-outline-primary btn-sm mr-1" data-toggle="modal"
                           data-target="#diplomamodal">Add Diploma</button>
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="mb-1">Status </label>
                     <div class="position-relative icon-form-control">
                        <select [disabled]="offres.currentStep > 1" [(ngModel)]="offres.statut" name="status" class="form-control">
                           <option  [value]="'UP'" title="only visible by your org">Unpublished</option>
                           <option  [value]="'PU'" title="visible by candidates, and can postulate">Published</option>
                           <option  [value]="'CL'" title="The recruitment is done">Closed</option>
                           <option  [value]="'EN'" title="Candidates can't postulate anymore">Ended</option>
                           <option  [value]="'SU'" title="suspended, can be republished or not">Suspended</option>
                        </select>
                     </div>
                  </div>

                  <button *ngIf="offres.currentStep == 1" class="btn btn-primary btn-block text-uppercase" type="submit" [disabled]="form.form.invalid "> Post the job offer </button>

               </form>
            </div>
         </div>
      </div>
   </div>
</div>

<div class="modal fade" id="skillmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
   aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-body">
            <span class="row">
               <span class="col-lg-6">
                  <a>
                     <h6>Add skills</h6>
                  </a>
               </span>
               <span class="col-lg-6 d-flex justify-content-end">
                  <i class="feather-x" data-dismiss="modal"></i>
               </span>
            </span>
            <hr>
            <form #xpForm="ngForm" (ngSubmit)="addSkill()">
               <span style="margin-top: -4% !important;">
                  <div class="form-group">
                     <label class="mb-1">Skill name</label>
                     <div class="icon-form-control">
                        <input required type="text" name="skill" class="form-control" [(ngModel)]="skill.skillName"
                           placeholder="Enter the skill name">
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="mb-1">Months of experience</label>
                     <div class="icon-form-control">
                        <input required type="number" min="0" name="experience" class="form-control"
                           [(ngModel)]="skill.duration" placeholder="">
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="mb-1">Skill level</label>
                     <div class="icon-form-control">
                        <select type="text" required name="skilllevel" placeholder="select a skill level"
                           class="form-control" [(ngModel)]="skill.skillMinvValText">
                           <option [value]="'Beginner'">Beginner</option>
                           <option [value]="'Intermediate'">Intermediate</option>
                           <option [value]="'Expert'">Expert</option>
                        </select>
                     </div>
                  </div>
               </span>
               <div class="d-flex justify-content-end">
                  <div>
                     <button type="submit" [disabled]="!xpForm.form.valid"
                        class="btn btn-outline-primary btn-sm mr-1">Add</button>
                  </div>
               </div>
            </form>
            <div *ngFor="let item of offres.competencessup let i=index;">
               <div class="col-lg-6">
                  <div class="border job-item mb-3">
                     <div class="d-flex align-items-center p-3 job-item-header">
                        <div class="overflow-hidden mr-2">
                           <h6 class="font-weight-bold text-dark mb-0 truncatetext-truncate">{{item.skillName}}</h6>
                           <div class="text-truncate text-primary">{{item.duration}} month(s)</div>
                           <div class="small text-gray-500">{{item.skillMinvValText}}</div>
                        </div>
                        <div class="img-fluid ml-auto">
                           <i class="feather-trash" style="color:red;" (click)="deleteSkill(i)"></i>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>


<div class="modal fade" id="diplomamodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
   aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-body">
            <span class="row">
               <span class="col-lg-6">
                  <a>
                     <h6>Add Diploma</h6>
                  </a>
               </span>
               <span class="col-lg-6 d-flex justify-content-end">
                  <i class="feather-x" data-dismiss="modal"></i>
               </span>
            </span>
            <hr>
            <form #dipForm="ngForm" (ngSubmit)="addDiploma()">
               <span style="margin-top: -4% !important;">
                  <div class="form-group">
                     <label class="mb-1">Diploma name</label>
                     <div class="icon-form-control">
                        <input required type="text" name="diplomaname" class="form-control"
                           [(ngModel)]="diplome.nomDiplome" placeholder="Enter the diploma name">
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="mb-1">In</label>
                     <div class="icon-form-control">
                        <input required type="text" name="diplomain" class="form-control" [(ngModel)]="diplome.domaine"
                           placeholder="Enter the diploma domain">
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="mb-1">Months of obtension</label>
                     <div class="icon-form-control">
                        <input required type="number" min="0" name="experience" class="form-control"
                           [(ngModel)]="diplome.duration" placeholder="Diploma obtained since how many months?">
                     </div>
                  </div>
               </span>
               <div class="d-flex justify-content-end">
                  <div>
                     <button type="submit" [disabled]="!dipForm.form.valid"
                        class="btn btn-outline-primary btn-sm mr-1">Add</button>
                  </div>
               </div>
            </form>
            <div *ngFor="let item of offres.formations let i=index;">
               <div class="col-lg-6">
                  <div class="border job-item mb-3">
                     <div class="d-flex align-items-center p-3 job-item-header">
                        <div class="overflow-hidden mr-2">
                           <h6 class="font-weight-bold text-dark mb-0 truncatetext-truncate">{{item.nomDiplome}}</h6>
                           <div class="small text-gray-500">{{item.domaine}}</div>
                           <div class="text-truncate text-primary">{{item.duration}} month(s)</div>
                        </div>
                        <div class="img-fluid ml-auto">
                           <i class="feather-trash" style="color:red;" (click)="deleteDiploma(i)"></i>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<footer>
   <app-footer></app-footer>
</footer>