<div class="py-4">
    <div class="container">
        <div class="row">
            <main class="col col-xl-9 order-xl-2 col-lg-12 order-lg-1 col-md-12 col-sm-12 col-12">
                <div class="card-input-text">
                    <div class="form-group">
                        <input type="text" #anotherI [(ngModel)]="anotherId" class="form-control">
                    </div>
                </div>
                <div class="card">
                    <div class="profil">
                        <img src="../../../assets/img/user-14.jpg" alt="appel" srcset="">
                    </div>
                    <div class="input-call">
                        <!-- <input type="text" [(ngModel)]="anotherId" nbInput> -->
                        <h1 *ngIf="myPeerId===''" style="color: #ffffff;">please wait...</h1>
                        <h6 style="color: #ffffff;">id is - {{myPeerId}} </h6>
                    </div>
                    <div class="button-call">

                        <button (click)="endChat()" class="btn btn-danger">
                            <i class="fas fa-phone-slash"></i>
                        </button>
                        <button (click)="connect()" class="btn btn-info">
                            <i class="fas fa-microphone-alt"></i>
                        </button>
                        <button nbButton (click)="videoConnect()" class="btn btn-primary">
                            <i class="fas fa-video -slash"></i>
                        </button>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>
