.card-input-text {
    position: relative;
    left: 15%;
}
.card{
    max-height: 80vh;
    min-height: 80vh !important; 
    position: relative;
    left: 15%;
    background-color: #000 !important;
    background-size: cover !important;
    .button-call{
        left: 50%;
        margin: 0 auto;
        position: absolute;
        top: 85%;
        transform: translate(-60%, -50%);
        button {
            border-radius: 50% !important;
            margin: 10px !important;
        }
    }

   .input-call {
    left: 50%;
    margin: 0 auto;
    position: absolute;
    top: 75%;
    transform: translate(-50%, -50%);
   }
    
    .profil {
        left: 50%;
        margin: 0 auto;
        position: absolute;
        top: 40%;
        transform: translate(-50%, -50%);
        height: 250px !important;
        width: 250px !important;
        border-radius: 100% !important;
        border: 3px solid #fff !important;
        img{
            width: 100% !important;
            height: 100% !important;
            border-radius: 100% !important;
        }
    }
}