/* You can add global styles to this file, and also import other style files */

a {
    cursor: pointer!important;
}
.modal-dialog{
  background-color:#2c2d2e;
}
.modal-content{
  background-color:#2c2d2e;
}
.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;
}

