<header>
    <app-header></app-header>
</header>

<div class="row">
    <div class="col-lg-6">
        <div class="py-4">
            <div class="container">
                <!-- Main Content -->
                <div class="box shadow-sm border rounded bg-white mb-3 osahan-share-post">
                    <h6 class="pl-3 pt-3 pr-3 border-bottom mb-0 pb-3">
                        <div class=" row">
                            <span class="col-lg-6">Friends</span>

                        </div>
                    </h6>
                    <div class="row col-lg-12" style="padding-top: 2%;">
                        <div class="col-md-6">
                            <a href="profile.html">
                                <div class="border network-item rounded mb-3">
                                    <div class="p-3 d-flex align-items-center network-item-header">
                                        <div class="dropdown-list-image mr-3">
                                            <img class="rounded-circle" src="img/p2.png" alt="">
                                        </div>
                                        <div class="font-weight-bold">
                                            <h6 class="font-weight-bold text-dark mb-0">John Doe</h6>
                                            <div class="small text-black-50">Traveler</div>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center p-3 border-top border-bottom network-item-body">
                                        <div class="overlap-rounded-circle">
                                            <img class="rounded-circle shadow-sm" data-toggle="tooltip" data-placement="top" title="" src="img/p6.png" alt="" data-original-title="Sophia Lee">
                                            <img class="rounded-circle shadow-sm" data-toggle="tooltip" data-placement="top" title="" src="img/p7.png" alt="" data-original-title="John Doe">
                                            <img class="rounded-circle shadow-sm" data-toggle="tooltip" data-placement="top" title="" src="img/p8.png" alt="" data-original-title="Julia Cox">
                                            <img class="rounded-circle shadow-sm" data-toggle="tooltip" data-placement="top" title="" src="img/p9.png" alt="" data-original-title="Robert Cook">
                                        </div>
                                        <span class="font-weight-bold small text-primary">4 mutual connections</span>
                                    </div>
                                    <div class="network-item-footer py-3 d-flex text-center">
                                        <div class="col-6 pl-3 pr-1">
                                            <button type="button" class="btn btn-primary btn-sm btn-block"> Connect </button>
                                        </div>
                                        <div class="col-6 pr-3 pl-1">
                                            <button type="button" class="btn btn-outline-primary btn-sm btn-block"> <i class="feather-user-plus"></i> Follow </button>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="profile.html">
                                <div class="border network-item rounded mb-3">
                                    <div class="p-3 d-flex align-items-center network-item-header">
                                        <div class="dropdown-list-image mr-3">
                                            <img class="rounded-circle" src="img/p3.png" alt="">
                                        </div>
                                        <div class="font-weight-bold">
                                            <h6 class="font-weight-bold text-dark mb-0">Julia Cox</h6>
                                            <div class="small text-black-50">Art Designer</div>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center p-3 border-top border-bottom network-item-body">
                                        <div class="overlap-rounded-circle">
                                            <img class="rounded-circle shadow-sm" data-toggle="tooltip" data-placement="top" title="" src="img/p10.png" alt="" data-original-title="Sophia Lee">
                                            <img class="rounded-circle shadow-sm" data-toggle="tooltip" data-placement="top" title="" src="img/p11.png" alt="" data-original-title="John Doe">
                                            <img class="rounded-circle shadow-sm" data-toggle="tooltip" data-placement="top" title="" src="img/p12.png" alt="" data-original-title="Julia Cox">
                                            <img class="rounded-circle shadow-sm" data-toggle="tooltip" data-placement="top" title="" src="img/p13.png" alt="" data-original-title="Robert Cook">
                                        </div>
                                        <span class="font-weight-bold small text-primary">4 mutual connections</span>
                                    </div>
                                    <div class="network-item-footer py-3 d-flex text-center">
                                        <div class="col-6 pl-3 pr-1">
                                            <button type="button" class="btn btn-primary btn-sm btn-block"> Connect </button>
                                        </div>
                                        <div class="col-6 pr-3 pl-1">
                                            <button type="button" class="btn btn-outline-primary btn-sm btn-block"> <i class="feather-user-plus"></i> Follow </button>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="profile.html">
                                <div class="border network-item rounded mb-3">
                                    <div class="p-3 d-flex align-items-center network-item-header">
                                        <div class="dropdown-list-image mr-3">
                                            <img class="rounded-circle" src="img/p4.png" alt="">
                                        </div>
                                        <div class="font-weight-bold">
                                            <h6 class="font-weight-bold text-dark mb-0">Robert Cook</h6>
                                            <div class="small text-black-50">Graphic Designer</div>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center p-3 border-top border-bottom network-item-body">
                                        <div class="overlap-rounded-circle">
                                            <img class="rounded-circle shadow-sm" data-toggle="tooltip" data-placement="top" title="" src="img/p1.png" alt="" data-original-title="Sophia Lee">
                                            <img class="rounded-circle shadow-sm" data-toggle="tooltip" data-placement="top" title="" src="img/p3.png" alt="" data-original-title="Julia Cox">
                                            <img class="rounded-circle shadow-sm" data-toggle="tooltip" data-placement="top" title="" src="img/p4.png" alt="" data-original-title="Robert Cook">
                                        </div>
                                        <span class="font-weight-bold small text-primary">4 mutual connections</span>
                                    </div>
                                    <div class="network-item-footer py-3 d-flex text-center">
                                        <div class="col-6 pl-3 pr-1">
                                            <button type="button" class="btn btn-primary btn-sm btn-block"> Connect </button>
                                        </div>
                                        <div class="col-6 pr-3 pl-1">
                                            <button type="button" class="btn btn-outline-primary btn-sm btn-block"> <i class="feather-user-plus"></i> Follow </button>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="profile.html">
                                <div class="border network-item rounded mb-3">
                                    <div class="p-3 d-flex align-items-center network-item-header">
                                        <div class="dropdown-list-image mr-3">
                                            <img class="rounded-circle" src="img/p5.png" alt="">
                                        </div>
                                        <div class="font-weight-bold">
                                            <h6 class="font-weight-bold text-dark mb-0">Stella Bergmann</h6>
                                            <div class="small text-black-50">Photography</div>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center p-3 border-top border-bottom network-item-body">
                                        <div class="overlap-rounded-circle">
                                            <img class="rounded-circle shadow-sm" data-toggle="tooltip" data-placement="top" title="" src="img/p5.png" alt="" data-original-title="Sophia Lee">
                                            <img class="rounded-circle shadow-sm" data-toggle="tooltip" data-placement="top" title="" src="img/p6.png" alt="" data-original-title="John Doe">
                                            <img class="rounded-circle shadow-sm" data-toggle="tooltip" data-placement="top" title="" src="img/p7.png" alt="" data-original-title="Julia Cox">
                                            <img class="rounded-circle shadow-sm" data-toggle="tooltip" data-placement="top" title="" src="img/p8.png" alt="" data-original-title="Robert Cook">
                                        </div>
                                        <span class="font-weight-bold small text-primary">4 mutual connections</span>
                                    </div>
                                    <div class="network-item-footer py-3 d-flex text-center">
                                        <div class="col-6 pl-3 pr-1">
                                            <button type="button" class="btn btn-primary btn-sm btn-block"> Connect </button>
                                        </div>
                                        <div class="col-6 pr-3 pl-1">
                                            <button type="button" class="btn btn-outline-primary btn-sm btn-block"> <i class="feather-user-plus"></i> Follow </button>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="profile.html">
                                <div class="border network-item rounded mb-3">
                                    <div class="p-3 d-flex align-items-center network-item-header">
                                        <div class="dropdown-list-image mr-3">
                                            <img class="rounded-circle" src="img/p6.png" alt="">
                                        </div>
                                        <div class="font-weight-bold">
                                            <h6 class="font-weight-bold text-dark mb-0">Dan Walker</h6>
                                            <div class="small text-black-50">UI/UX Designer</div>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center p-3 border-top border-bottom network-item-body">
                                        <div class="overlap-rounded-circle">
                                            <img class="rounded-circle shadow-sm" data-toggle="tooltip" data-placement="top" title="" src="img/p9.png" alt="" data-original-title="Sophia Lee">
                                            <img class="rounded-circle shadow-sm" data-toggle="tooltip" data-placement="top" title="" src="img/p13.png" alt="" data-original-title="Julia Cox">
                                            <img class="rounded-circle shadow-sm" data-toggle="tooltip" data-placement="top" title="" src="img/p8.png" alt="" data-original-title="Robert Cook">
                                        </div>
                                        <span class="font-weight-bold small text-primary">4 mutual connections</span>
                                    </div>
                                    <div class="network-item-footer py-3 d-flex text-center">
                                        <div class="col-6 pl-3 pr-1">
                                            <button type="button" class="btn btn-primary btn-sm btn-block"> Connect </button>
                                        </div>
                                        <div class="col-6 pr-3 pl-1">
                                            <button type="button" class="btn btn-outline-primary btn-sm btn-block"> <i class="feather-user-plus"></i> Follow </button>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="profile.html">
                                <div class="border network-item rounded mb-3">
                                    <div class="p-3 d-flex align-items-center network-item-header">
                                        <div class="dropdown-list-image mr-3">
                                            <img class="rounded-circle" src="img/p7.png" alt="">
                                        </div>
                                        <div class="font-weight-bold">
                                            <h6 class="font-weight-bold text-dark mb-0">Julia Cox</h6>
                                            <div class="small text-black-50">Art Designer</div>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center p-3 border-top border-bottom network-item-body">
                                        <div class="overlap-rounded-circle">
                                            <img class="rounded-circle shadow-sm" data-toggle="tooltip" data-placement="top" title="" src="img/p10.png" alt="" data-original-title="Sophia Lee">
                                            <img class="rounded-circle shadow-sm" data-toggle="tooltip" data-placement="top" title="" src="img/p11.png" alt="" data-original-title="John Doe">
                                            <img class="rounded-circle shadow-sm" data-toggle="tooltip" data-placement="top" title="" src="img/p12.png" alt="" data-original-title="Julia Cox">
                                            <img class="rounded-circle shadow-sm" data-toggle="tooltip" data-placement="top" title="" src="img/p13.png" alt="" data-original-title="Robert Cook">
                                        </div>
                                        <span class="font-weight-bold small text-primary">4 mutual connections</span>
                                    </div>
                                    <div class="network-item-footer py-3 d-flex text-center">
                                        <div class="col-6 pl-3 pr-1">
                                            <button type="button" class="btn btn-primary btn-sm btn-block"> Connect </button>
                                        </div>
                                        <div class="col-6 pr-3 pl-1">
                                            <button type="button" class="btn btn-outline-primary btn-sm btn-block"> <i class="feather-user-plus"></i> Follow </button>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="profile.html">
                                <div class="border network-item rounded mb-3">
                                    <div class="p-3 d-flex align-items-center network-item-header">
                                        <div class="dropdown-list-image mr-3">
                                            <img class="rounded-circle" src="img/p8.png" alt="">
                                        </div>
                                        <div class="font-weight-bold">
                                            <h6 class="font-weight-bold text-dark mb-0">Robert Cook</h6>
                                            <div class="small text-black-50">Graphic Designer</div>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center p-3 border-top border-bottom network-item-body">
                                        <div class="overlap-rounded-circle">
                                            <img class="rounded-circle shadow-sm" data-toggle="tooltip" data-placement="top" title="" src="img/p1.png" alt="" data-original-title="Sophia Lee">
                                            <img class="rounded-circle shadow-sm" data-toggle="tooltip" data-placement="top" title="" src="img/p3.png" alt="" data-original-title="Julia Cox">
                                            <img class="rounded-circle shadow-sm" data-toggle="tooltip" data-placement="top" title="" src="img/p4.png" alt="" data-original-title="Robert Cook">
                                        </div>
                                        <span class="font-weight-bold small text-primary">4 mutual connections</span>
                                    </div>
                                    <div class="network-item-footer py-3 d-flex text-center">
                                        <div class="col-6 pl-3 pr-1">
                                            <button type="button" class="btn btn-primary btn-sm btn-block"> Connect </button>
                                        </div>
                                        <div class="col-6 pr-3 pl-1">
                                            <button type="button" class="btn btn-outline-primary btn-sm btn-block"> <i class="feather-user-plus"></i> Follow </button>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="profile.html">
                                <div class="border network-item rounded mb-3">
                                    <div class="p-3 d-flex align-items-center network-item-header">
                                        <div class="dropdown-list-image mr-3">
                                            <img class="rounded-circle" src="img/p9.png" alt="">
                                        </div>
                                        <div class="font-weight-bold">
                                            <h6 class="font-weight-bold text-dark mb-0">Stella Bergmann</h6>
                                            <div class="small text-black-50">Photography</div>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center p-3 border-top border-bottom network-item-body">
                                        <div class="overlap-rounded-circle">
                                            <img class="rounded-circle shadow-sm" data-toggle="tooltip" data-placement="top" title="" src="img/p5.png" alt="" data-original-title="Sophia Lee">
                                            <img class="rounded-circle shadow-sm" data-toggle="tooltip" data-placement="top" title="" src="img/p6.png" alt="" data-original-title="John Doe">
                                            <img class="rounded-circle shadow-sm" data-toggle="tooltip" data-placement="top" title="" src="img/p7.png" alt="" data-original-title="Julia Cox">
                                            <img class="rounded-circle shadow-sm" data-toggle="tooltip" data-placement="top" title="" src="img/p8.png" alt="" data-original-title="Robert Cook">
                                        </div>
                                        <span class="font-weight-bold small text-primary">4 mutual connections</span>
                                    </div>
                                    <div class="network-item-footer py-3 d-flex text-center">
                                        <div class="col-6 pl-3 pr-1">
                                            <button type="button" class="btn btn-primary btn-sm btn-block"> Connect </button>
                                        </div>
                                        <div class="col-6 pr-3 pl-1">
                                            <button type="button" class="btn btn-outline-primary btn-sm btn-block"> <i class="feather-user-plus"></i> Follow </button>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="py-4">
            <div class="container">
                <!-- Main Content -->
                <div class="box shadow-sm border rounded bg-white mb-3 osahan-share-post">
                    <h6 class="pl-3 pt-3 pr-3 border-bottom mb-0 pb-3">
                        <div class=" row">
                            <span class="col-lg-6">Jobs</span>

                        </div>
                    </h6>
                    <div class="row col-lg-12" style="padding-top: 2%;">
                        <div class="col-lg-6">
                            <div class="border job-item mb-3 ">
                                <div class="d-flex align-items-center p-3 job-item-header border-bottom">
                                    <div class="overflow-hidden mr-2">
                                        <h6 class="font-weight-bold text-dark mb-0  text-truncate">JAVA developer</h6>
                                        <div class="text-truncate text-primary"><a>Google</a></div>
                                        <div class="small text-gray-500 text-truncate"><i class="feather-map-pin"></i>&nbsp;
                                            <span>Silicon valley, california</span>
                                        </div>
                                    </div>
                                    <img class="img-fluid ml-auto" src="../../assets/imgs/skill.png" alt="">
                                </div>
                                <span class="border-bottom col-lg-12"> 0 connection</span>
                                <div class="p-3 job-item-footer">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <small class="text-gray-500"><i class="feather-clock"></i> 20/04/2020</small>
                                        </div>
                                        <div class="col-lg-6 d-flex justify-content-end">
                                            <button class="btn btn-outline-primary">Details</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="border job-item mb-3 ">
                                <div class="d-flex align-items-center p-3 job-item-header border-bottom">
                                    <div class="overflow-hidden mr-2">
                                        <h6 class="font-weight-bold text-dark mb-0  text-truncate">JAVA developer</h6>
                                        <div class="text-truncate text-primary"><a>Google</a></div>
                                        <div class="small text-gray-500 text-truncate"><i class="feather-map-pin"></i>&nbsp;
                                            <span>Silicon valley, california</span>
                                        </div>
                                    </div>
                                    <img class="img-fluid ml-auto" src="../../assets/imgs/skill.png" alt="">
                                </div>
                                <span class="border-bottom col-lg-12"> 0 connection</span>
                                <div class="p-3 job-item-footer">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <small class="text-gray-500"><i class="feather-clock"></i> 20/04/2020</small>
                                        </div>
                                        <div class="col-lg-6 d-flex justify-content-end">
                                            <button class="btn btn-outline-primary">Details</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="border job-item mb-3 ">
                                <div class="d-flex align-items-center p-3 job-item-header border-bottom">
                                    <div class="overflow-hidden mr-2">
                                        <h6 class="font-weight-bold text-dark mb-0  text-truncate">JAVA developer</h6>
                                        <div class="text-truncate text-primary"><a>Google</a></div>
                                        <div class="small text-gray-500 text-truncate"><i class="feather-map-pin"></i>&nbsp;
                                            <span>Silicon valley, california</span>
                                        </div>
                                    </div>
                                    <img class="img-fluid ml-auto" src="../../assets/imgs/skill.png" alt="">
                                </div>
                                <span class="col-lg-12"> 0 connection</span>
                                <div class="p-3 job-item-footer">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <small class="text-gray-500"><i class="feather-clock"></i> 20/04/2020</small>
                                        </div>
                                        <div class="col-lg-6 d-flex justify-content-end">
                                            <button class="btn btn-outline-primary">Details</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="py-4">
            <div class="container">
                <!-- Main Content -->
                <div class="box shadow-sm border rounded bg-white mb-3 osahan-share-post">
                    <h6 class="pl-3 pt-3 pr-3 border-bottom mb-0 pb-3">
                        <div class=" row">
                            <span class="col-lg-6">Demonstrations</span>
                            <span class="col-lg-6 justify-content-end d-flex">
          </span>
                        </div>
                    </h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="py-4">
            <div class="container">
                <!-- Main Content -->
                <div class="box shadow-sm border rounded bg-white mb-3 osahan-share-post">
                    <h6 class="pl-3 pt-3 pr-3 border-bottom mb-0 pb-3">
                        <div class=" row">
                            <span class="col-lg-6">Organisations</span>
                            <span class="col-lg-6 justify-content-end d-flex">
                </span>
                        </div>
                    </h6>


                </div>
            </div>
        </div>
        <div class="py-4">
            <div class="container">
                <!-- Main Content -->
                <div class="box shadow-sm border rounded bg-white mb-3 osahan-share-post">
                    <h6 class="pl-3 pt-3 pr-3 border-bottom mb-0 pb-3">
                        <div class=" row">
                            <span class="col-lg-6">Records</span>
                            <span class="col-lg-6 justify-content-end d-flex">
            </span>
                        </div>
                    </h6>
                    <div class="col-lg-12" style="margin-top: 2%;">
                        <div class="box-body p-3 border-bottom">
                            <div class="d-flex align-items-top job-item-header pb-2 row">
                                <div class="col-lg-10">
                                    <span>
                            <span class="font-weight-bold text-dark mb-0" style="font-size: 1.3em;">UI/UX developer </span>
                                    </span>
                                    <div class="text-truncate text-primary">RichBlok Inc</div>
                                    <div class="small text-gray-500">17/02/2019 - present</div>
                                </div>
                                <div class="d-flex justify-content-end col-lg-2" style="float: inline-end;">
                                    <img class="img-fluid ml-auto mb-auto" src="../../assets/imgs/demons.png" alt="">
                                </div>
                            </div>
                            <p class="mb-0">TThis train can give us the ability to develop and analyse software apllication either mobile or web applications This train can give us the ability to develop and analyse software apllication either mobile or web applicationsThis
                                train can give us the ability to develop and analyse software apllication either mobile or web applicationsThis train can give us the ability to develop and analyse software apllication either mobile or web applicationsThis
                                train can give us the ability to develop and analyse software apllication either mobile or web applicationsThis train can give us the ability to develop and analyse software apllication either mobile or web applicationsThis
                                train can give us the ability to develop and analyse software apllication either mobile or web applications</p>
                            <p class="mb-0">Experience type : <span class="text-primary">: Professional Internship</span></p>
                        </div>
                        <hr>
                        <div class="box-body p-3 border-bottom">
                            <div class="d-flex align-items-top job-item-header pb-2 row">
                                <div class="mr-2 col-md-8">
                                    <span>
                          <span class="font-weight-bold text-dark mb-0" style="font-size: 1.3em;">UI/UX developer </span>
                                    </span>
                                    <div class="text-truncate text-primary">RichBlok Inc</div>
                                    <div class="small text-gray-500">17/02/2019 - present</div>
                                </div>
                                <div class="d-flex justify-content-end col-md-2" style="float: inline-end;">
                                    <img class="img-fluid ml-auto mb-auto" src="../../assets/imgs/demons.png" alt="">
                                </div>
                            </div>
                            <p class="mb-0">TThis train can give us the ability to develop and analyse software apllication either mobile or web applications This train can give us the ability to develop and analyse software apllication either mobile or web applicationsThis
                                train can give us the ability to develop and analyse software apllication either mobile or web applicationsThis train can give us the ability to develop and analyse software apllication either mobile or web applicationsThis
                                train can give us the ability to develop and analyse software apllication either mobile or web applicationsThis train can give us the ability to develop and analyse software apllication either mobile or web applicationsThis
                                train can give us the ability to develop and analyse software apllication either mobile or web applications</p>
                            <p class="mb-0">Experience type : <span class="text-primary">: Professional Internship</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="py-4">
            <div class="container">
                <!-- Main Content -->
                <div class="box shadow-sm border rounded bg-white mb-3 osahan-share-post">
                    <h6 class="pl-3 pt-3 pr-3 border-bottom mb-0 pb-3">
                        <div class=" row">
                            <span class="col-lg-6">Evaluations</span>

                        </div>
                    </h6>
                    <div class="col-lg-12" style="margin-top: 2%;">
                        <div class="box shadow-sm border rounded bg-white mb-3 osahan-post">
                            <div class="p-3 border-bottom osahan-post-header">
                                <div class="row">
                                    <div class="col-lg-8">
                                        <div class="row">
                                            <div class="col-lg-1">
                                                <div class="dropdown-list-image mr-3">
                                                    <img class="rounded-circle" src="/assets/rb/og-default.svg" alt="">
                                                </div>
                                            </div>
                                            <div class="col-lg-11">
                                                <div class="font-weight-bold" style="margin-left :7% !important">Challenge on Front-End developement
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 d-flex justify-content-end" style="float: right;">
                                        <small style="color: grey;">02/06/2020</small>
                                    </div>
                                </div>
                            </div>
                            <div class="p-3 border-bottom osahan-post-body">
                                lop and analyse software apllication either mobile or web applications This train can give us the ability to develop and analyse software apllication either mobile or web applications This train can give us the ability to develop and analyse software
                                apllication either mobile or web applications Document : Document link
                                <br>
                                <br>
                                <span style="font-size: 1em; font-weight: bold;" class="text-danger">Pass mark : 13/30</span>
                                <div class="row" style="margin-top: 2%;">
                                    <div class="col-lg-6">
                                        <span style="font-size: 1.5em;">500 Seconds</span>
                                    </div>
                                    <div class="col-lg-6 d-flex justify-content-end">
                                        <span style="font-size: 1.5em;">17 Questions</span>
                                    </div>
                                </div>
                            </div>
                            <div class="p-3 border-bottom osahan-post-footer">
                                <div style=" display: inline-block; margin-top: 1%;">
                                    <span class="badge badge-dark span" style="margin-bottom: 2% !important;">ANGULAR</span> &nbsp; &nbsp;
                                    <span class="badge badge-dark span" style="margin-bottom: 2% !important;">JAVASCRIPT</span> &nbsp; &nbsp;
                                    <span class="badge badge-dark span" style="margin-bottom: 2% !important;">TYPESCRIPT</span> &nbsp; &nbsp;
                                    <span class="badge badge-dark span" style="margin-bottom: 2% !important;">IONIC</span> &nbsp; &nbsp;


                                </div>
                            </div>
                            <div class="col-lg-12" style="margin-top: 2%;">
                                Challenge Created by :
                            </div>
                            <div class="p-3 d-flex align-items-center border-bottom osahan-post-header">
                                <div class="dropdown-list-image mr-3">
                                    <img class="rounded-circle" src="../../assets/imgs/exp.png" alt="">
                                    <div class="status-indicator bg-success"></div>
                                </div>
                                <div class="font-weight-bold">
                                    <div class="text-truncate">Andre Jaures Kamga Tokam</div>
                                    <div class="small text-gray-500">Front-End developer at RichBlok Inc.</div>
                                </div>
                            </div>
                            <div class="p-3 d-flex justify-content-end">
                                <button type="button" class="btn btn-outline-primary btn-sm mr-1">Participate</button>
                            </div>
                        </div>
                        <hr>
                        <div class="box shadow-sm border rounded bg-white mb-3 osahan-post">
                            <div class="p-3 border-bottom osahan-post-header">
                                <div class="row">
                                    <div class="col-lg-8">
                                        <div class="row">
                                            <div class="col-lg-1">
                                                <div class="dropdown-list-image mr-3">
                                                    <img class="rounded-circle" src="/assets/rb/og-default.svg" alt="">
                                                </div>
                                            </div>
                                            <div class="col-lg-11">
                                                <div class="font-weight-bold" style="margin-left :7% !important">Challenge on Front-End developement
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 d-flex justify-content-end" style="float: right;">
                                        <small style="color: grey;">02/06/2020</small>
                                    </div>
                                </div>
                            </div>
                            <div class="p-3 border-bottom osahan-post-body">
                                lop and analyse software apllication either mobile or web applications This train can give us the ability to develop and analyse software apllication either mobile or web applications This train can give us the ability to develop and analyse software
                                apllication either mobile or web applications Document : Document link
                                <br>
                                <br>
                                <span style="font-size: 1em; font-weight: bold;" class="text-danger">Pass mark : 13/30</span>
                                <div class="row" style="margin-top: 2%;">
                                    <div class="col-lg-6">
                                        <span style="font-size: 1.5em;">500 Seconds</span>
                                    </div>
                                    <div class="col-lg-6 d-flex justify-content-end">
                                        <span style="font-size: 1.5em;">17 Questions</span>
                                    </div>
                                </div>
                            </div>
                            <div class="p-3 border-bottom osahan-post-footer">
                                <div style=" display: inline-block; margin-top: 1%;">
                                    <span class="badge badge-dark span" style="margin-bottom: 2% !important;">ANGULAR</span> &nbsp; &nbsp;
                                    <span class="badge badge-dark span" style="margin-bottom: 2% !important;">JAVASCRIPT</span> &nbsp; &nbsp;
                                    <span class="badge badge-dark span" style="margin-bottom: 2% !important;">TYPESCRIPT</span> &nbsp; &nbsp;
                                    <span class="badge badge-dark span" style="margin-bottom: 2% !important;">IONIC</span> &nbsp; &nbsp;


                                </div>
                            </div>
                            <div class="col-lg-12" style="margin-top: 2%;">
                                Challenge Created by :
                            </div>
                            <div class="p-3 d-flex align-items-center border-bottom osahan-post-header">
                                <div class="dropdown-list-image mr-3">
                                    <img class="rounded-circle" src="../../assets/imgs/exp.png" alt="">
                                    <div class="status-indicator bg-success"></div>
                                </div>
                                <div class="font-weight-bold">
                                    <div class="text-truncate">Andre Jaures Kamga Tokam</div>
                                    <div class="small text-gray-500">Front-End developer at RichBlok Inc.</div>
                                </div>
                            </div>
                            <div class="p-3 d-flex justify-content-end">
                                <button type="button" class="btn btn-outline-primary btn-sm mr-1">Participate</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
    <app-footer></app-footer>
</footer>