
<div class="box shadow-sm border rounded bg-white mb-3 osahan-post">
  <div *ngIf="step===1">

  <div class="col-lg-12">
    <span class="row">
      <span class="col-lg-8">
        <label>Answer {{nombre}}</label>
      </span>
    </span>
    <div class="form-group">
        <textarea name="description" class="form-control" placeholder="Enter the answer number {{nombre}}" [(ngModel)]="answer"></textarea>
    </div>

  </div>
  <div class="col-lg-12 d-flex justify-content-end">
    <button (click)="addAnswer()" type="button" class="btn btn-light btn-sm" *ngIf="!enable"><i class="feather-plus"></i></button>
    <button type="button" class="btn btn-light btn-sm" *ngIf="enable">Modify</button>
  </div>
  <span class="col-lg-11" *ngIf="showAnswers">
  <label>Tick the correct answer(s)</label>
  <hr>
  </span>
<div *ngIf="showAnswers" class=" col-lg-11" style="margin-top: -2%;">
  <span *ngFor="let item of answers let i = index;">
    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
      <label class="custom-control-label" for="defaultUnchecked"> {{item}}</label>
      <span class="row">
        <i class="feather-x" (click)="deleteAnswer(i)" style="cursor: pointer; color: rgb(150, 64, 64); font-size: 1.5em;"></i>&nbsp;
        <i class="feather-edit-2" (click)="modifyAnswer(i)" style="cursor: pointer; color: rgb(19, 94, 97); font-size: 1.5em;"></i>
      </span>
  </div>
  </span>
</div>
  <div class="p-3 d-flex justify-content-end">
     <button type="button" class="btn btn-outline-primary btn-sm mr-1">Confirm</button>
  </div>
  </div>
</div>
