<div class="d-flex align-items-center osahan-post-header mb-3 people-list">
  <div class="dropdown-list-image mr-3">
     <img class="rounded-circle" src="../../assets/img/p4.png" alt="">
     <div class="status-indicator bg-success"></div>
  </div>
  <div class="font-weight-bold mr-2">
     <div class="text-truncate">Sophia Lee</div>
     <div class="small text-gray-500">@Harvard
     </div>
  </div>
  <span class="ml-auto"><button type="button" class="btn btn-light btn-sm">Connent</button>
  </span>
</div>
<div class="d-flex align-items-center osahan-post-header mb-3 people-list">
  <div class="dropdown-list-image mr-3">
     <img class="rounded-circle" src="../../assets/img/p9.png" alt="">
     <div class="status-indicator bg-success"></div>
  </div>
  <div class="font-weight-bold mr-2">
     <div class="text-truncate">John Doe</div>
     <div class="small text-gray-500">Traveler
     </div>
  </div>
  <span class="ml-auto"><button type="button" class="btn btn-light btn-sm">Connent</button>
  </span>
</div>
<div class="d-flex align-items-center osahan-post-header mb-3 people-list">
  <div class="dropdown-list-image mr-3">
     <img class="rounded-circle" src="../../assets/img/p10.png" alt="">
     <div class="status-indicator bg-success"></div>
  </div>
  <div class="font-weight-bold mr-2">
     <div class="text-truncate">Julia Cox</div>
     <div class="small text-gray-500">Art Designer
     </div>
  </div>
  <span class="ml-auto"><button type="button" class="btn btn-light btn-sm">Connent</button>
  </span>
</div>
<div class="d-flex align-items-center osahan-post-header mb-3 people-list">
  <div class="dropdown-list-image mr-3">
     <img class="rounded-circle" src="../../assets/img/p11.png" alt="">
     <div class="status-indicator bg-success"></div>
  </div>
  <div class="font-weight-bold mr-2">
     <div class="text-truncate">Robert Cook</div>
     <div class="small text-gray-500">@Photography
     </div>
  </div>
  <span class="ml-auto"><button type="button" class="btn btn-light btn-sm">Connent</button>
  </span>
</div>
<div class="d-flex align-items-center osahan-post-header people-list">
  <div class="dropdown-list-image mr-3">
     <img class="rounded-circle" src="../../assets/img/p12.png" alt="">
     <div class="status-indicator bg-success"></div>
  </div>
  <div class="font-weight-bold mr-2">
     <div class="text-truncate">Richard Bell</div>
     <div class="small text-gray-500">@Envato
     </div>
  </div>
  <span class="ml-auto"><button type="button" class="btn btn-light btn-sm">Connent</button>
  </span>
</div>
