<div class="box mb-3 shadow-sm border rounded bg-white osahan-post">
  <div class="p-3 d-flex align-items-center border-bottom osahan-post-header">
    <div class="dropdown-list-image mr-3">
      <img class="rounded-circle" [src]="ownedUser?.imageprofil" alt="">
      <div class="status-indicator bg-success"></div>
    </div>
    <div class="font-weight-bold">
      <div class="text-truncate">{{ownedUser?.nom}} {{ownedUser?.prenom}}</div>
      <div class="small text-gray-500">{{ownedUser?.poste}} at {{ownedUser?.lieu}}</div>
    </div>
    <span *ngIf="!preview" class="ml-auto small"
      style="color: grey;">{{currentPost?.date?.toDate() | date:"medium"}}
      <br>
      <div class="d-flex justify-content-end" style="padding-top: 2%;">
        <span class="badge badge-primary" style="font-size: 1em;">{{currentPost?.typePost}}</span>
      </div>

    </span>
    <span *ngIf="preview" class="ml-auto small" style="color: grey;">{{currentPost?.date | date:"medium"}}</span>
  </div>
  <div class="p-3 border-bottom osahan-post-body">
    <h4>{{currentPost.titre}}</h4>
    <p> {{currentPost?.description}} </p>
    <img *ngIf="currentPost?.medias" [src]="currentPost?.medias[0]?.src" style="width: 100%;" class="img-fluid">
  </div>
</div>
