<div class="bg-white" style="padding-bottom:4%;">
  <div class="container">
    <div class="row justify-content-center align-items-center d-flex vh-100">
      <div class="col-md-4 mx-auto">
        <div class="osahan-login py-4">
          <div class="text-center mb-4">
            <a><img src="../../../assets/img/log.png" style="width:20%;" alt=""></a>
            <h5 class="font-weight-bold mt-3">Create Organisation</h5>
            <p class="text-muted">Create your organisation and hire talents</p>
          </div>
          <form *ngIf="step === 1" action="index.html" #Form1="ngForm" (ngSubmit)="next()">
            <div class="form-group">
              <label class="mb-1">Organisation name</label>
              <div class="position-relative icon-form-control">
                <i class="feather-user position-absolute"></i>
                <input required type="text" name="name" class="form-control" [(ngModel)]="currentEts.nom" >
              </div>
            </div>
            <div class="form-group">
              <label for="name" class="label">Organisation Type</label>
              <select id="type" name="type" [(ngModel)]="currentEts.typeEntreprise" class="form-control">
                <option [value]="'Secondary School'"> Secondary School </option>
                <option [value]="'Higher Institute '"> Higher Institute </option>
                <option [value]="'Public University'"> Public University </option>
                <option [value]="'Professional Training Center'"> Professional Training Center </option>
                <option [value]="'Certification  Center'"> Certification Center </option>
                <option [value]="'NGO'"> NGO </option>
                <option [value]="'Public institution'"> Public institution </option>
                <option [value]="'Private compagny'"> Private compagny </option>
              </select>
              <!-- input type="text" nbInput fullWidth id="domain" placeholder="Enter the organisation URL for RichBlok" shape="semi-round" name="url" [(ngModel)]="currentEts.url"-->
            </div>
            <div class="form-group">
              <label class="mb-1">Slogan</label>
              <div class="position-relative icon-form-control">
                <i class="feather-pocket position-absolute"></i>
                <input required type="text" name="slogan" class="form-control" [(ngModel)]="currentEts.slogan">
              </div>
            </div>
            <div class="form-group">
              <label class="mb-1">Creation date</label>
              <div class="position-relative icon-form-control">
                <i class="feather-pocket position-absolute"></i>
                <input required type="date" name="date" class="form-control" [(ngModel)]="currentEts.dateCreation">
              </div>
            </div>
            <div class="form-group">
              <label for="domaine" class="label">Activity sector
              </label>
              <div>
                <input required id="domaine" nbInput fullWidth class="form-control" type="text" list="domaines"
                  shape="semi-round" [(ngModel)]="currentEts.domaine" name="domaine">
                <datalist id="domaines">
                  <option selected [value]="'Informatique'">Computer Science</option>
                  <option [value]="'Energie renouvellables'">Renewable Energy</option>
                  <option [value]="'Expert de projet'">Projec Management</option>
                  <option [value]="'Entreprise privé'">Finance</option>
                </datalist>
              </div>
            </div>
            <div class="form-group">
              <label class="mb-1">Head Quater</label>
              <div class="row">
                <div class="form-group col-lg-6">
                  <label>Country</label>
                  <div class="position-relative icon-form-control">
                    <i class="feather-map position-absolute"></i>
                    <input required type="text" name="country" class="form-control" [(ngModel)]="currentEts.pays">
                  </div>
                </div>
                <div class="form-group col-lg-6">
                  <label>State</label>
                  <div class="position-relative icon-form-control">
                    <i class="feather-map-pin position-absolute"></i>
                    <input required type="text" name="town" class="form-control" [(ngModel)]="currentEts.ville">
                  </div>
                </div>
              </div>

            </div>
            <div class="d-flex justify-content-end">
              <div class="flex-shrink-1">
                <button type="submit" [disabled]="!Form1.form.valid"
                  class="btn btn-outline-primary btn-sm mr-1">Next</button>
              </div>
            </div>

          </form>
          <form *ngIf="step === 2" action="index.html" #Form2="ngForm" (ngSubmit)="save()">

            <div class="form-group">
              <label class="mb-1">Company size </label>
              <div class="position-relative icon-form-control">
                <i class="feather-hash position-absolute"></i>
                <input required type="number" min="1" name="size" class="form-control" [(ngModel)]="currentEts.taille">
              </div>
            </div>
            <div class="form-group">
              <label class="mb-1">Company Email</label>
              <div class="position-relative icon-form-control">
                <i class="feather-inbox position-absolute"></i>
                <input required type="email"  name="email" class="form-control" [(ngModel)]="currentEts.mail">
              </div>
            </div>
            <div class="form-group">
              <label class="mb-1">Website URL</label>
              <div class="position-relative icon-form-control">
                <i class="feather-globe position-absolute"></i>
                <input required type="text" name="url" class="form-control" [(ngModel)]="currentEts.siteweb">
              </div>
            </div>
            <div class="form-group">
              <label class="mb-1">Phone number</label>
              <div class="position-relative icon-form-control">
                <i class="feather-phone position-absolute"></i>
                <input required type="tel"  name="tel" class="form-control" [(ngModel)]="currentEts.telephones">
              </div>
            </div>
            <div class="form-group">
              <label class="mb-1">Description</label>
              <div class="position-relative icon-form-control">
                <textarea required type="text"  name="desciption" class="form-control" [(ngModel)]="currentEts.description" placeholder="Describe your company"></textarea>
              </div>
            </div>
            <div class="form-group">
              <label class="mb-1">Specialities</label>
              <app-tags></app-tags>
            </div>
            <div class="d-flex justify-content-end">
              <div class="flex-shrink-1">
                <button type="submit"
                  class="btn btn-outline-primary btn-sm mr-1">Back</button>
              </div>
            </div>
            <div style="padding-top: 2%;">
              <button class="btn btn-primary btn-block text-uppercase"  [disabled]="!Form2.form.valid" type="submit"> Agree & Join </button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<footer>
  <app-footer></app-footer>
</footer>
